AWS_ACCESS_KEY_ID=minio
AWS_SECRET_ACCESS_KEY=minio123
AWS_DEFAULT_REGION=us-east-1
AWS_ENDPOINT_URL=http://minio:9000
S3_BUCKET_NAME=openoversight-test
MINIO_ROOT_USER=minio
MINIO_ROOT_PASSWORD=minio123
