# Make sure data files don't get uploaded
*.xls
*.xlsx
*.csv

# Credentials
dbcred*

# Local database backups
backup/*
# Local environment files
**/.env

# Swapfiles from our text editors
*.swp

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
ENV_DIR/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
.mypy_cache

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

#Ipython Notebook
.ipynb_checkpoints

#Ruby stuff
Gemfile.lock

#Puppet module stuff
vagrant/puppet/.tmp
.librarian
.vagrant

# Editor files
.idea/
*.iml
.vscode/
.vscode/**
*.code-workspace

# Operating system files
**/.DS_Store

node_modules/
OpenOverSight/app/static/dist/
static/
