version: "3.4"

services:
  web:
    image: ghcr.io/lucyparsons/openoversight:${DOCKER_IMAGE_TAG}
    env_file:
      - .env
    environment:
      ENVIRONMENT: production
      FLASK_APP: OpenOversight.app
    volumes:
     - ./OpenOversight/:/usr/src/app/OpenOversight/
     - ./static/:/usr/src/app/OpenOversight/static
    ports:
      - "4000:3000"
    networks:
      - default
    restart: always
