version: "3"

services:
 postgres:
   restart: always
   image: postgres:latest
   environment:
     POSTGRES_USER: openoversight
     POSTGRES_PASSWORD: terriblepassword
     POSTGRES_DB: openoversight-dev
   volumes:
     - ./container_data/postgres:/var/lib/postgresql/data
   ports:
     - "5432:5432"

 redis:
  restart: always
  image: redis:5.0.5
  command: ["redis-server", "--appendonly", "yes"]
  hostname: redis
  ports:
    - "6379:6379"

 web:
   restart: always
   build:
      context: .
      args:
      - DOCKER_BUILD_ENV
      dockerfile: ./dockerfiles/web/Dockerfile
   environment:
     AWS_ACCESS_KEY_ID: "${AWS_ACCESS_KEY_ID}"
     AWS_SECRET_ACCESS_KEY: "${AWS_SECRET_ACCESS_KEY}"
     AWS_DEFAULT_REGION: "${AWS_DEFAULT_REGION}"
     S3_BUCKET_NAME: "${S3_BUCKET_NAME}"
     APPROVE_REGISTRATIONS: "${APPROVE_REGISTRATIONS}"
     FLASK_APP: app
     FLASK_ENV: "${FLASK_ENV:-development}"
   volumes:
     - ./OpenOversight/:/usr/src/app/OpenOversight/:z
   links:
     - postgres:postgres
     - redis:redis
   expose:
     - "3000"
   command: scripts/entrypoint.sh
   ports:
     - "3000:3000"
     