Authlib==0.15.5
boto3==1.24.21
email-validator==1.0.5
Fabric3==1.14.post1
Flask==2.1.2
Flask-Bootstrap==3.3.7.1
Flask-Limiter==1.4
Flask-Login==0.6.1
Flask-Mail==0.9.1
Flask-Migrate==3.0.1
Flask-Sitemap==0.4.0
Flask-SQLAlchemy==2.5.1
Flask-WTF==0.15.1
future==0.18.2
gunicorn==19.9
Pillow==7.2.0
psycopg2-binary==2.9.1
python-dateutil==2.8.1
python-dotenv==0.7.1
SQLAlchemy==1.4.21
us==1.0
WTForms<3.0.0
