Authlib==1.2.1
boto3==1.28.39
cachetools==5.3.1
email-validator==2.0.0.post2
filetype==1.2.0
Flask==2.3.3
Flask-Bootstrap==3.3.7.1
Flask-Compress==1.13
Flask-Limiter==3.3.1
Flask-Login==0.6.2
Flask-Mail==0.9.1
Flask-Migrate==4.0.4
Flask-Sitemap==0.4.0
Flask-SQLAlchemy==3.0.3
Flask-WTF==1.1.1
future==0.18.3
google-api-python-client==2.92.0
gunicorn==20.1.0
Pillow==10.0.0
psycopg2-binary==2.9.5
python-dateutil==2.8.2
pytz==2023.3
SQLAlchemy==2.0.19
us==3.1.1
werkzeug<3  # FIXME: Remove once flask is upgraded
WTForms==3.0.1
WTForms-SQLAlchemy==0.3
