Authlib==0.15.5
bleach==3.3.1
bleach-allowlist==1.0.3
boto3==1.5.10
email-validator==1.3.1
Flask==2.2.5
Flask-Bootstrap==3.3.7.1
Flask-Limiter==3.3.0
Flask-Login==0.6.2
Flask-Mail==0.9.1
Flask-Migrate==4.0.4
Flask-Sitemap==0.4.0
Flask-SQLAlchemy==3.0.3
Flask-WTF==1.1.1
gunicorn==19.9
Markdown==3.2.2
MarkupSafe==2.1.2
Pillow==7.2.0
psycopg2==2.8.5 --no-binary psycopg2
python-dateutil==2.8.2
SQLAlchemy==1.4.47
us==1.0
wtforms==3.0.1
WTForms-SQLAlchemy==0.3.0
