-r requirements.txt

Faker==15.0.0
flake8==6.0.0
ipython
mypy==0.982
pandas>=0.23.4
pre-commit==3.2.1
pytest==7.2.0
pytest-cov==4.0.0
pytest-env==0.8.1
pytest-flake8==1.1.1
pytest-sugar==0.9.6
pytest-xdist==3.1.0
selenium==4.8.3
sphinx==6.0.0
sphinx-autobuild==2021.3.14
webdriver-manager==3.8.5
xvfbwrapper==0.2.9
