body {
  padding-top: 70px;
  padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}

.glyphicon {
    font-size: 30px;
}

.thumbnail_container {
     float:left;
     max-height:300px;
     max-width:80%;
     padding-bottom: 210%;
     margin:25px;
}

.thumbnail img {
    max-height:80%;
    max-width:80%;
}
