<table class='table table-hover table-responsive'>
	<tbody>
		<tr>
			<td><strong>Date</strong></td>
			<td>{{ incident.date }}</td>
		</tr>
		<tr>
			<td><strong>Report #</strong></td>
			<td>{{ incident.report_number }}</td>
		</tr>
		<tr>
			<td><strong>Officers</strong></td>
			<td>
				{% for officer in incident.officers %}
					<a href="{{url_for('main.officer_profile', officer_id=officer.id)}}">{{ officer.full_name()|title }}</a>{% if not loop.last %}, {% endif %}
				{% endfor %}
			</td>
		</tr>
		{% if detail %}
			<tr>
				<td><strong>License Plates</strong></td>
				<td>
					{% for plate in incident.license_plates %}
						{{ plate.state }} {{ plate.number }}{% if not loop.last %}<br/> {% endif %}
					{% endfor %}
				</td>
			</tr>
		{% endif %}
		{% if not detail %}
			<tr>
				<td><strong>Description</strong></td>
				<td>{{ incident.description|truncate(300) }}</td>
			</tr>
		{% endif %}
		{% with address=incident.address %}
			{% if address %}
				<tr>
					<td><strong>Address</strong></td>
						<td>
							{{ address.street_name }}
							{% if address.cross_street1 and address.cross_street2 %}
								between {{ address.cross_street1 }} and {{ address.cross_street2 }}
								{% else %}
								 near {{ address.cross_street1 }}
							{% endif %}
							<br/>
							{{ address.city }}, {{ address.state }} {{ address.zip_code }}
						</td>
				</tr>
			{% endif %}
		{% endwith %}
	</tbody>
</table>
