{% import "bootstrap/wtf.html" as wtf %}

<form class="form" method="post" role="form">
			{{ form.hidden_tag() }}
			<div class='text-danger'>
				{{ wtf.form_errors(form, hiddens="only") }}
			</div>
			{{ wtf.form_field(form.date_field, autofocus="autofocus") }}
			{{ wtf.form_field(form.time_field) }}
			{{ wtf.form_field(form.report_number) }}
			{{ wtf.form_field(form.department) }}
			{{ wtf.form_field(form.description) }}
			{% with subform=form.address, no_remove=True %}
				{% include "partials/subform.html" %}
			{% endwith %}
			<div>
				<legend>{{ form.license_plates.label }}</legend>
				{% for subform in form.license_plates %}
					{% with id="js-license-plate", number=loop.index %}
						{% include "partials/subform.html" %}
					{% endwith %}
				{% endfor %}
				{# buttons are disabled until the DOM loads and click handlers are added #}
				<button class="btn btn-success js-add-another-button" disabled>Add another license plate</button>
			</div>
			<fieldset>
				<legend>Officers Involved</legend>
				<ul class='list-unstyled'>
					{% for field in form.officers %}
						<li>
							{{ wtf.form_field(field) }}
						</li>
					{% endfor %}
					<button class="btn btn-success js-add-another-button" disabled>Add another officer</button>
				</ul>
			</fieldset>
			{% include "partials/links_subform.html" %}

			{{ wtf.form_field(form.submit, id="submit", button_map={'submit':'primary'}) }}
</form>
