{% if obj.links|length > 0 or is_admin_or_coordinator %}
  <h3>Links</h3>
  {% for type, list in obj.links|groupby("link_type") %}
    {% if type == "link" %}
      <ul class="list-group">
        {% for link in list %}
          <li class="list-group-item">
            <a href="{{ link.url }}" rel="noopener noreferrer" target="_blank">{{ link.title or link.url }}</a>
            {% if officer and (is_admin_or_coordinator or link.creator_id == current_user.id) %}
              <a href="{{ url_for("main.link_api_edit", officer_id=officer.id, obj_id=link.id) }}">
                <span class="sr-only">Edit</span>
                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
              </a>
              <a href="{{ url_for("main.link_api_delete", officer_id=officer.id, obj_id=link.id) }}">
                <span class="sr-only">Delete</span>
                <i class="fa fa-trash-o" aria-hidden="true"></i>
              </a>
            {% endif %}
            {% if link.description or link.author %}
              <div>
                {% if link.description %}{{ link.description }}{% endif %}
                {% if link.author %}
                  {% if link.description %}-{% endif %}
                  <em>{{ link.author }}</em>
                {% endif %}
              </div>
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    {% endif %}
  {% endfor %}
  {% if officer and (current_user.is_admin_or_coordinator(officer.department)) %}
    <a href="{{ url_for("main.link_api_new", officer_id=officer.id) }}"
       class="btn btn-primary">New Link/Video</a>
  {% endif %}
  {% for type, list in obj.links | groupby("link_type") %}
    {% if type == "video" %}
      <h3>Videos</h3>
      <ul class="list-group">
        {% for link in list %}
          {% with link_url = link.url.split("v=")[1] %}
            <li class="list-group-item">
              {% if link.title %}<h5>{{ link.title }}</h5>{% endif %}
              {% if officer and (current_user.is_admin_or_coordinator(officer.department)
                or link.creator_id == current_user.id) %}
                <a href="{{ url_for("main.link_api_edit", officer_id=officer.id, obj_id=link.id) }}">
                  <span class="sr-only">Edit</span>
                  <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                </a>
                <a href="{{ url_for("main.link_api_delete", officer_id=officer.id, obj_id=link.id) }}">
                  <span class="sr-only">Delete</span>
                  <i class="fa fa-trash-o" aria-hidden="true"></i>
                </a>
              {% endif %}
              <div class="video-container">
                <iframe width="560"
                        height="315"
                        src="https://www.youtube.com/embed/{{ link_url }}"
                        frameborder="0"
                        allow="autoplay; encrypted-media"
                        allowfullscreen></iframe>
              </div>
              {% if link.description or link.author %}
                <div>
                  {% if link.description %}{{ link.description }}{% endif %}
                  {% if link.author %}
                    {% if link.description %}-{% endif %}
                    <em>{{ link.author }}</em>
                  {% endif %}
                </div>
              {% endif %}
            </li>
          {% endwith %}
        {% endfor %}
      </ul>
    {% endif %}
    {% if type == "other_video" %}
      <h3>Other videos</h3>
      <ul class="list-group">
        {% for link in list %}
          <li class="list-group-item">
            <a href="{{ link.url }}">{{ link.title or link.url }}</a>
            {% if officer and (current_user.is_admin_or_coordinator(officer.department)
              or link.creator_id == current_user.id) %}
              <a href="{{ url_for("main.link_api_edit", officer_id=officer.id, obj_id=link.id) }}">
                <span class="sr-only">Edit</span>
                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
              </a>
              <a href="{{ url_for("main.link_api_delete", officer_id=officer.id, obj_id=link.id) }}">
                <span class="sr-only">Delete</span>
                <i class="fa fa-trash-o" aria-hidden="true"></i>
              </a>
            {% endif %}
            {% if link.description or link.author %}
              <div>
                {% if link.description %}{{ link.description }}{% endif %}
                {% if link.author %}
                  {% if link.description %}-{% endif %}
                  <em>{{ link.author }}</em>
                {% endif %}
              </div>
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    {% endif %}
  {% endfor %}
{% endif %}
