<h3>Descriptions</h3>
{% if officer.descriptions %}
  <ul class="list-group">
    {% for description in officer.descriptions %}
      <li class="list-group-item">
        <em>{{ description.last_updated_at | local_date }}</em>
        <br />
        {{ description.text_contents | markdown }}
        {% if current_user and not current_user.is_anonymous %}<em>{{ description.creator.username }}</em>{% endif %}
        {% if description.created_by == current_user.id or
          current_user.is_administrator %}
          <a href="{{ url_for('main.description_api_edit', officer_id=officer.id, obj_id=description.id) }}">
            <span class="sr-only">Edit</span>
            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
          </a>
          <a href="{{ url_for('main.description_api_delete', officer_id=officer.id, obj_id=description.id) }}">
            <span class="sr-only">Delete</span>
            <i class="fa fa-trash-o" aria-hidden="true"></i>
          </a>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
{% endif %}
{% if is_admin_or_coordinator %}
  <a href="{{ url_for('main.description_api_new', officer_id=officer.id) }}"
     class="btn btn-primary">New description</a>
{% endif %}
