<h3>Salary</h3>
{% if officer.salaries %}
  <table class="table table-hover">
    <tr>
      <th>
        <b>Annual Salary</b>
      </th>
      <th>
        <b>Overtime</b>
      </th>
      <th>
        <b>Total Pay</b>
      </th>
      <th>
        <b>Year</b>
      </th>
      {% if is_admin_or_coordinator %}
        <th>
          <b>Edit</b>
        </th>
      {% endif %}
    </tr>
    <tbody>
      {% for salary in officer.salaries %}
        <tr>
          <td>{{ salary.salary | display_currency }}</td>
          {% set total = salary.salary %}
          {% if salary.overtime_pay %}
            {% if salary.overtime_pay > 0 %}
              {% set total = total + salary.overtime_pay %}
              <td>{{ salary.overtime_pay | display_currency }}</td>
              <td>{{ total | display_currency }}</td>
            {% elif salary.overtime_pay < 0 %}
              <td>(data incomplete)</td>
              <td></td>
            {% else %}
              <td>$0</td>
              <td>{{ total | display_currency }}</td>
            {% endif %}
          {% else %}
            <td></td>
            <td>{{ total | display_currency }}</td>
          {% endif %}
          <td>
            {% if salary.is_fiscal_year %}FY{% endif %}
            {{ salary.year }}
          </td>
          {% if is_admin_or_coordinator %}
            <td>
              <a href="{{ url_for('main.edit_salary', officer_id=officer.id, salary_id=salary.id) }}">
                <span class="sr-only">Edit</span>
                <i class="fa-solid fa-pen-to-square" aria-hidden="true"></i>
              </a>
            </td>
          {% endif %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endif %}
{% if is_admin_or_coordinator %}
  <a href="{{ url_for('main.add_salary', officer_id=officer.id) }}"
     class="btn btn-primary">New Salary</a>
{% endif %}
