<h3>Notes</h3>
<ul class="list-group">
  {% for note in officer.notes %}
    <li class="list-group-item">
      <em>{{ note.last_updated_at | local_date }}</em>
      <br />
      {{ note.text_contents | markdown }}
      <em>{{ note.creator.username }}</em>
      {% if note.created_by == current_user.id or current_user.is_administrator %}
        <a href="{{ url_for('main.note_api_edit', officer_id=officer.id, obj_id=note.id) }}">
          <span class="sr-only">Edit</span>
          <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
        </a>
        <a href="{{ url_for('main.note_api_delete', officer_id=officer.id, obj_id=note.id) }}">
          <span class="sr-only">Delete</span>
          <i class="fa fa-trash-o" aria-hidden="true"></i>
        </a>
      {% endif %}
    </li>
  {% endfor %}
</ul>
<a href="{{ url_for('main.note_api', officer_id=officer.id) }}"
   class="btn btn-primary">New Note</a>
