{% from "bootstrap5/utils.html" import render_icon %}
<div id="face-carousel" class="carousel slide bg-secondary-subtle">
  <div class="carousel-inner">
    {% for face, path in face_paths %}
      <div class="carousel-item{{ ' active' if loop.index == 1 else '' }}">
        {# Don't try to link if only image is the placeholder #}
        {% if face %}<a href="{{ url_for('main.display_tag', tag_id=face.id) }}">{% endif %}
          <img class="officer-face officer-profile"
               src="{{ path }}"
               alt="Submission">
          {% if face %}</a>{% endif %}
      </div>
    {% endfor %}
  </div>
  {% if face_paths | length > 1 %}
    <button class="carousel-control-prev"
            type="button"
            data-bs-target="#face-carousel"
            data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next"
            type="button"
            data-bs-target="#face-carousel"
            data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  {% endif %}
</div>
