<h3>Incidents</h3>
{% if officer.incidents %}
<table class="table table-hover table-responsive">
    <tbody>
        {% for incident in officer.incidents | sort(attribute='date') | reverse %}
        {% if not loop.first %}
        <tr class="border:none">
            <td colspan="2">&nbsp;</td>
        </tr>
        {% endif %}
        <tr>
            <td colspan="2" style="border-top: 0; ">
                <h4>
                    <a href="{{ url_for('main.incident_api', obj_id=incident.id)}}">
                        Incident
                        {% if incident.report_number %}
                        {{ incident.report_number }}
                        {% else %}
                        {{ incident.id}}
                        {% endif %}
                    </a>
                    {% if current_user.is_administrator or (current_user.is_area_coordinator and
                    current_user.ac_department_id == incident.department_id) %}
                    <a href="{{ url_for('main.incident_api', obj_id=incident.id) + '/edit' }}">
                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                    </a>
                    {% endif %}
                </h4>
            </td>
        </tr>
        {% include 'partials/incident_fields.html' %}
        {% endfor %}
    </tbody>
</table>
  {% block js_footer %}
    <script src="{{ url_for('static', filename='js/incidentDescription.js') }}"></script>
  {% endblock %}
{% endif %}
{% if is_admin_or_coordinator %}
<a href="{{ url_for('main.incident_api') + 'new?officer_id={}'.format(officer.id) }}" class="btn btn-primary">New
    Incident</a>
{% endif %}
