<div class="top-paginate">
    <span class="paginate-navigate">
	{% if officers.has_prev %}
	    <form action="{{ url_for('get_gallery', page=officers.prev_num) }}" method="post">
		{% include 'partials/officer_form_fields_hidden.html' %}
		<input type="submit" value="<< " />
	    </form>
	{% endif %}
	{% if officers.has_next %}
	    <form action="{{ url_for('get_gallery', page=officers.next_num) }}" method="post">
		{% include 'partials/officer_form_fields_hidden.html' %}
		<input type="submit" value=">> " />
	    </form>
	{% endif %}
    </span>
    {% if officers.total > 0 %}
    <span class="paginate-info">Page {{ officers.page }} of {{ officers.pages }}</span>
    {% endif %}
</div>
<!-- /.top-paginate -->