<nav aria-label="Page navigation - {{ location }}">
  <ul class="pagination">
    {% if paginate.has_prev %}
      <li class="page-item previous">
        <a role="button" class="btn btn-light" href="{{ prev_url }}">
          <span aria-hidden="true">←</span>
          Previous
        </a>
      </li>
    {% endif %}
    <div class="mx-auto">
      {% if paginate.has_next %}
        Showing {{ (paginate.page-1) * paginate.per_page + 1 }}-{{ (paginate.page) * paginate.per_page }} of {{ paginate.total }}
      {% elif paginate.total == 0 %}
        {% if location == 'top' %}Showing 0 of 0{% endif %}
      {% else %}
        Showing {{ (paginate.page-1) * paginate.per_page + 1 }}-{{ paginate.total }} of {{ paginate.total }}
      {% endif %}
    </div>
    {% if paginate.has_next %}
      <li class="next">
        <a role="button" class="btn btn-light" href="{{ next_url }}">
          Next
          <span aria-hidden="true">→</span>
        </a>
      </li>
    {% endif %}
  </ul>
</nav>
