<div class="top-paginate">

	{% if officers.has_prev %}
	    <form action="{{ url_for('main.get_tagger_gallery', page=officers.prev_num) }}" method="post">
		{% include 'partials/roster_form_fields.html' %}
		<input type="submit" class="btn btn-info btn-md" value=" << " />
	    </form>
	{% endif %}
  {% if officers.total > 0 %}
	<h2><small>Gallery {{ officers.page }} of {{ officers.pages }}</small></h2>
  {% endif %}
	{% if officers.has_next %}
	    <form action="{{ url_for('main.get_tagger_gallery', page=officers.next_num) }}" method="post">
		{% include 'partials/roster_form_fields.html' %}
		<input type="submit" class="btn btn-info btn-md" value=" >> " />
	    </form>
	{% endif %}

</div>
