{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}OpenOversight - Change Password{% endblock %}

{% block content %}
<div class="container theme-showcase" role="main">

<div class="page-header">
    <h1>Change Your Password</h1>
</div>
<div class="col-md-6">
    <form class="form form-horizontal" method="post" role="form">
        {{ form.hidden_tag() }}
        {{ wtf.form_errors(form, hiddens="only") }}

        {{ wtf.form_field(form.old_password) }}
        <div class="form-group {% if form.password.errors %}has-error{%endif%} required">
            <label class="control-label" for="password">Password</label>
            <input class="form-control" id="password" name="password" required="" type="password" value="">
            <meter class="meter" max="5" id="password-strength-meter"></meter>
            <p id="password-strength-text"></p>
            {% if form.password.errors %}
                <p class="help-block">{% for error in form.password.errors %}{{ error }} {% endfor %}</p>
            {% endif %}
        </div>
        <div class="form-group  required">
            <label class="control-label" for="password2">Confirm password</label>
            <input class="form-control" id="password2" name="password2" required="" type="password" value="">
            <meter class="binmeter" max="5" id="password-confirmation-meter"></meter>
            {% if form.password2.errors %}
                <p class="help-block">{% for error in form.password2.errors %}{{ error }} {% endfor %}</p>
            {% endif %}
        </div>
        {{ wtf.form_field(form.submit, id="password-button", button_map={'submit':'primary'}, disabled=True) }}
    </form>
</div>

</div>
{% endblock %}
