{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}
  Volunteer Password Reset - OpenOversight
{% endblock title %}
{% block meta %}
  <meta name="description" content="Reset your password for OpenOversight">
{% endblock meta %}
{% block content %}
  <div class="container theme-showcase" role="main">
    <div class="page-header">
      <h1>Reset Your Password</h1>
    </div>
    <div class="col-md-6">{{ wtf.quick_form(form, button_map={'submit':'primary'}) }}</div>
  </div>
{% endblock content %}
