{% extends "base.html" %}
{% import "bootstrap5/form.html" as wtf %}
{% block title %}
  OpenOversight Admin - Update User
{% endblock title %}
{% block content %}
  <div class="hero-section no-sub">
    <h1 class="hero">Update {{ user.username }}</h1>
    <h1 class="hero lead">{{ user.email }}</h1>
  </div>
  <div class="container theme-showcase py-5" role="main">
    <div class="col-md-6 col-12">
      <form class="form" method="post" role="form">
        {{ wtf.render_form(form, button_map={
                "submit": "primary",
                "resend": "warning",
                "delete": "danger"
                }) }}
      </form>
      <br>
    </div>
  </div>
{% endblock content %}
