{% extends "base.html" %}
{% block content %}

<div role="main">
<div class="hero-section no-sub">
  <div class="hero">About BPD Watch</div>
</div>
<div class="vertical-padding">
  <p class="lead"><small>
    BPD Watch is an effort to improve civilian oversight of the Baltimore City Police Department. We use public and crowdsourced data to build databases, digital galleries, and profiles of individual law enforcement officers from BPD that consolidate information including names, photographs, mentions in news articles, court records, salaries, and citizen reports.
  </small></p>

  <p class="lead"><small>
    BPD Watch is a volunteer-run project sponsored by <a href="https://openjusticebaltimore.org">Open Justice Baltimore</a>, a <a href="http://www.fusiongroup.org/">Fusion Partnerships</a> program. If you would like to get involved in this or other data transparency projects, visit our <a href="/label">Volunteer page</a> or email us at <a href="mailto:info@bpdwatch.com">info@bpdwatch.com</a>.
  </small></p>

  <div class="text-center pb-50"><a href="/find" class="btn btn-lg btn-info" id="try-it">
    Try it
  </a></div>

  <div class="row font-weight-300 text-center display-flex">
    <div class="col-lg-4 col-half-border">
      <span class="fa fa-institution fa-2x"></span >
      <p>This project is a response to the lack of transparency and justice in policing. The public should have the right to know which officers are patrolling their neighborhoods and watching their communities. When officers abuse their positions of power, they should be able to be easily identified and held accountable.
      </p>
    </div>
    <div class="col-lg-4 col-half-border">
      <span class="fa fa-map-marker fa-2x"></span><p>
        BPD Watch is based on the <a href="https://openoversight.com">OpenOversight</a> project. OpenOversight is the first project of its kind in the United States, and was first implemented in Chicago in October 2016.
      OpenOversight currently includes officers from <a href="https://openoversight.com/browse">departments across the country</a>, including Berkeley, Oakland, New York, ICE, and more.
    </p>
    </div>
    <div class="col-lg-4 col-half-border">
      <span class="fa fa-github fa-2x"></span><p>
      OpenOversight is released as free and open source software so others can launch similar law enforcement accountability
        projects in their own cities. The software is available for download and collaborative development on
      <a href="https://github.com/lucyparsons/OpenOversight">GitHub</a>.</p>

    </div>
  </div>
</div>

</div>

{% endblock %}
