{% extends "base.html" %}
{% import "bootstrap5/form.html" as wtf %}
{% block title %}
  OpenOversight Admin - Add New Unit
{% endblock title %}
{% block content %}
  <div class="container theme-showcase py-5" role="main">
    <div class="page-header">
      <h1>Add Unit</h1>
    </div>
    <div class="col-md-6">
      <form class="form" method="post" role="form">
        {{ form.hidden_tag() }}
        {{ wtf.render_hidden_errors(form) }}
        {{ wtf.render_field(form.description, autofocus="autofocus") }}
        {{ wtf.render_field(form.department, class="form-select") }}
        {{ wtf.render_field(form.submit, id="submit", button_map={'submit':'primary'}) }}
      </form>
      <br>
    </div>
  </div>
{% endblock content %}
