{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}OpenOversight Admin - Add New Officer{% endblock %}

{% block content %}
<div class="container theme-showcase" role="main">

<div class="page-header">
    <h1>Add Officer</h1>
</div>
<div class="col-md-6">
    <form class="form" method="post" role="form">
        {{ form.hidden_tag() }}
        {{ wtf.form_errors(form, hiddens="only") }}
        {{ wtf.form_field(form.first_name, autofocus="autofocus") }}
        {{ wtf.form_field(form.middle_initial) }}
        {{ wtf.form_field(form.last_name) }}
        {{ wtf.form_field(form.race) }}
        {{ wtf.form_field(form.gender) }}
        {{ wtf.form_field(form.star_no) }}
        {{ wtf.form_field(form.rank) }}
        {{ wtf.form_field(form.unit) }}
        <h4><small><a href="{{ url_for( 'main.add_unit' )}}">Don't see your unit? Add one!</a></small></h4>
        {{ wtf.form_field(form.employment_date) }}
        {{ wtf.form_field(form.birth_year) }}
        {{ wtf.form_field(form.department) }}
        {{ wtf.form_field(form.submit, id="submit", button_map={'submit':'primary'}) }}
    </form>
    <br>
</div>

</div>
{% endblock %}
