{% extends "base.html" %}
{% import "bootstrap5/form.html" as wtf %}
{% block title %}
  OpenOversight Admin - Add New Officer
{% endblock title %}
{% block content %}
  <div class="container theme-showcase py-5" role="main">
    <div class="page-header">
      <h1>Add Officer</h1>
    </div>
    <div class="col-md-6">
      <form class="form"
            method="post"
            role="form"
            id="add-officer-form"
            data-jobs-url="{{ url_for("main.get_dept_ranks") }}">
        {{ form.hidden_tag() }}
        {{ wtf.render_hidden_errors(form) }}
        {{ wtf.render_field(form.department, class="form-select") }}
        {{ wtf.render_field(form.first_name, autofocus="autofocus") }}
        {{ wtf.render_field(form.middle_initial) }}
        {{ wtf.render_field(form.last_name) }}
        {{ wtf.render_field(form.suffix, class="form-select") }}
        {{ wtf.render_field(form.race, class="form-select") }}
        {{ wtf.render_field(form.gender, class="form-select") }}
        {{ wtf.render_field(form.star_no) }}
        {{ wtf.render_field(form.unique_internal_identifier) }}
        {{ wtf.render_field(form.job_id, class="form-select") }}
        {{ wtf.render_field(form.unit, class="form-select") }}
        <h4>
          <small><a href="{{ url_for("main.add_unit") }}">Don't see your unit? Add one!</a></small>
        </h4>
        {{ wtf.render_field(form.employment_date) }}
        {{ wtf.render_field(form.birth_year) }}
        <div>
          <legend>{{ form.salaries.label }}</legend>
          {% for subform in form.salaries %}
            {% include "partials/subform.html" %}
          {% endfor %}
          <button class="btn btn-success js-add-another-button" disabled>Add another salary</button>
        </div>
        {% include "partials/links_subform.html" %}
        <div>
          <legend>{{ form.notes.label }}</legend>
          {% for subform in form.notes %}
            {% include "partials/subform.html" %}
          {% endfor %}
          <button class="btn btn-success js-add-another-button" disabled>Add another note</button>
        </div>
        <div>
          <legend>{{ form.descriptions.label }}</legend>
          {% for subform in form.descriptions %}
            {% include "partials/subform.html" %}
          {% endfor %}
          <button class="btn btn-success js-add-another-button" disabled>Add another description</button>
        </div>
        {{ wtf.render_field(form.submit, id="submit", button_map={'submit':'primary'}) }}
      </form>
      <br>
    </div>
  </div>
{% endblock content %}
