{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}

<div class="container theme-showcase" role="main">

  <!--div class="text-center frontpage-leads"-->
  {% for dept in departments %}
    <p>
       {{ dept.name }}
       <a href={{ url_for('main.download_dept_csv',department_id=dept.id) }}>officers.csv</a> 

       {% if dept.incidents %}
           <a href={{ url_for('main.download_incidents_csv',department_id=dept.id) }}>incidents.csv</a>
       {% endif %}

    </p>
  {% endfor %}
  <!--/div-->
</div>

{% endblock %}
