<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="content-language" content="en-us">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    {% block meta %}
      <meta name="description"
            content="A public, searchable database of law enforcement officers">
      <meta name="author" content="Lucy Parsons Labs">
    {% endblock meta %}
    <title>
      {% block title %}
        OpenOversight - a Lucy Parsons Labs project
      {% endblock title %}
    </title>
    {% if 'TIMEZONE' not in session %}
      <script type="text/javascript">
        // Send browser's timezone to server for displaying dates/times in local timezone.
        const timezone = Intl.DateTimeFormat() ? Intl.DateTimeFormat().resolvedOptions().timeZone : "";
        fetch("/timezone", { headers:{ 'X-CSRF-Token': '{{ csrf_token() }}', }, method: 'POST', body: timezone});
      </script>
    {% endif %}
    <!-- Bundled CSS -->
    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='css/openoversight.css') }}"
          rel="stylesheet">
    <!-- Embedded video styles -->
    <link href="{{ url_for('static', filename='css/responsive_embed.css') }}"
          rel="stylesheet">
    <!-- Font Awesome -->
    <link href="{{ url_for('static', filename='css/font-awesome.min.css') }}"
          rel="stylesheet">
    <!-- jQuery UI -->
    <link href="{{ url_for('static', filename='css/jquery-ui.min.css') }}"
          rel="stylesheet">
    <!-- jQuery -->
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <!-- Bootstrap -->
    {{ bootstrap.load_css() }}
    {{ bootstrap.load_js() }}
    {% block head %}
    {% endblock head %}
  </head>
  <body role="document">
    <nav class="navbar navbar-expand-lg bg-body-tertiary sticky-top">
      <div class="container">
        <a class="navbar-brand" href="{{ url_for("main.index") }}">OpenOversight</a>
        <button type="button"
                class="navbar-toggler"
                data-bs-toggle="collapse"
                data-bs-target="#navbar"
                aria-expanded="false"
                aria-controls="navbar"
                aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="navbar-nav me-auto">
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for("main.browse") }}">Browse</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for("main.get_officer") }}">Find an Officer</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for("main.submit_data") }}">Submit Images</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for("main.get_started_labeling") }}">Volunteer</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for("main.about_oo") }}">About</a>
            </li>
            {% if current_user and current_user.is_administrator %}
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for("auth.get_users") }}">Users</a>
              </li>
            {% endif %}
          </ul>
          <ul class="navbar-nav">
            {% if current_user and current_user.is_authenticated %}
              <li class="dropdown nav-item">
                <a class="nav-link dropdown-toggle"
                   data-bs-toggle="dropdown"
                   aria-expanded="false">
                  Account <b class="caret"></b>
                </a>
                <ul class="dropdown-menu dropdown-menu-end">
                  <li>
                    <a class="dropdown-item"
                       href="{{ url_for('main.profile', username=current_user.username) }}">Profile</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="{{ url_for("auth.change_password") }}">Change Password</a>
                  </li>
                  <li>
                    <a class="dropdown-item"
                       href="{{ url_for("auth.change_email_request") }}">Change Email</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="{{ url_for("auth.change_dept") }}">Change Default Department</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="{{ url_for("auth.logout") }}">Log Out</a>
                  </li>
                </ul>
              </li>
            {% else %}
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for("auth.register") }}">Register</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for("auth.login") }}">Log In</a>
              </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <div class="container position-absolute start-50 translate-middle mt-5">
          {% for message in messages %}
            <div class="row">
              <div class="alert alert-info alert-dismissible" role="alert">
                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="alert"
                        aria-label="Close"></button>
                {{ message }}
              </div>
            </div>
          {% endfor %}
        </div>
      {% endif %}
    {% endwith %}
    {% block content %}
    {% endblock content %}
    <footer class="footer {% block footer_class %}{% endblock footer_class %}">
      <hr class="py-0 my-0">
      <div class="container">
        <div class="row text-center horizontal-padding">
          <div class="col-sm-4">
            <h5>OpenOversight</h5>
            <p class="font-weight-300">
              A product of Lucy Parsons Labs in Chicago, IL.
              <br>
              <a href="https://lucyparsonslabs.com/" target="_blank">Lucy Parsons Labs</a>
              <br>
              <a href="https://lucyparsonslabs.com/donate" target="_blank">Donate</a>
              <br>
              <a href="{{ url_for("main.all_data") }}" target="_blank">Download Department Data</a>
            </p>
          </div>
          <div class="col-sm-4">
            <h5>Contact</h5>
            <a href="https://www.facebook.com/lucyparsonslabs"><i class="fa-brands fa-square-facebook fa-3x social"></i></a>
            <a href="https://www.instagram.com/lucyparsonslabs/"><i class="fa-brands fa-square-instagram fa-3x social"></i></a>
            <a href="https://twitter.com/lucyparsonslabs"><i class="fa-brands fa-square-x-twitter fa-3x social"></i></a>
            <a href="https://github.com/lucyparsons/openoversight"><i class="fa-brands fa-github-square fa-3x social"></i></a>
            <a href="mailto:info@lucyparsonslabs.com"><i class="fa fa-envelope-square fa-3x social"></i></a>
            <br>
            <a href="{{ url_for("main.privacy_oo") }}" class="btn">Privacy Policy</a>
          </div>
          <div class="col-sm-4">
            <h5>Navigation</h5>
            <p class="font-weight-300">
              <a href="{{ url_for("main.get_officer") }}">Find an Officer</a>
              <br>
              <a href="{{ url_for("main.submit_data") }}">Submit Images</a>
              <br>
              <a href="{{ url_for("main.get_started_labeling") }}">Volunteer</a>
              <br>
              <a href="{{ url_for("main.about_oo") }}">About</a>
              <br>
            </p>
          </div>
        </div>
      </div>
    </footer>
    {% block js_footer %}
      {% for item in jsloads %}<script src="{{ url_for('static', filename=item) }}"></script>{% endfor %}
    {% endblock js_footer %}
  </body>
</html>
