{% extends "base.html" %}
{% block title %}
  Browse OpenOversight
{% endblock title %}
{% block meta %}
  <meta name="description" content="Browse a department on OpenOversight.">
{% endblock meta %}
{% block content %}
  <div class="container pb-5" role="main">
    <div class="text-center frontpage-leads">
      <h1>
        <small>Browse a Department</small>
      </h1>
    </div>
    <div class="text-center">
      {% for department in departments %}
        <div class="mb-5">
          <h2>
            {{ department.display_name }}
            {% if current_user.is_administrator %}
              <a href="{{ url_for('main.edit_department', department_id=department.id) }}">
                <i class="fa-solid fa-pencil-square" aria-hidden="true"></i>
              </a>
            {% endif %}
          </h2>
          <div class="my-3">
            <b class="dept-{{ department.id }}">Officers Documented:</b> {{ department.total_documented_officers() | thousands_separator }}
            <br>
            <b class="dept-{{ department.id }}">Assignments Documented:</b> {{ department.total_documented_assignments() | thousands_separator }}
            <br>
            <b class="dept-{{ department.id }}">Incidents Documented:</b> {{ department.total_documented_incidents() | thousands_separator }}
          </div>
          <div>
            <a class="btn btn-lg btn-primary"
               href="{{ url_for('main.list_officer', department_id=department.id) }}">Officers</a>
            {% if department.incidents %}
              <a class="btn btn-lg btn-primary"
                 href="{{ url_for('main.incident_api', department_id=department.id) }}">Incidents</a>
            {% endif %}
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock content %}
