{% extends "base.html" %}
{% block title %}
  Browse OpenOversight
{% endblock title %}
{% block meta %}
  <meta name="description" content="Browse a department on OpenOversight.">
{% endblock meta %}
{% block content %}
  <div role="main" class="page-browse">
    <div class="hero-section no-sub">
      <h1 class="hero">Browse Officers by Department</h1>
    </div>
    <div class="text-center">
      <div class="col-lg-6 text-start mx-auto py-5">
        <p class="mb-5 vertical-padding">Use the map or list below to browse officers by department.</p>
        <object type="image/svg+xml" data="{{ url_for('main.render_map') }}"></object>
        {% for state, departments in departments_by_state.items() %}
          <div id="state-{{ state }}" class="state-row mt-5">
            <h3>{{ state | get_state_full_name }}</h3>
          </div>
          {% for department in departments %}
            <div class="frontpage-leads department-row vertical-padding">
              <span class="dept-inline">
                <a href="{{ url_for('main.list_officer', department_id=department.id) }}">
                  {{ department.name }}
                  {% if current_user.is_administrator %}
                    <a href="{{ url_for('main.edit_department', department_id=department.id) }}">
                      <i class="fa-solid fa-pencil-square" aria-hidden="true"></i>
                    </a>
                  {% endif %}
                </a>
              </span>
              <span class="officers bg-light-gray me-1">
                <img src="{{ url_for('static', filename='images/officer-icon-sm.svg') }}"
                     alt="Officers Documented"
                     title="Officers Documented"
                     class="pe-1">
                {{ department.total_documented_officers() | thousands_separator }}
              </span>
              <span class="incidents bg-light-gray">
                <img src="{{ url_for('static', filename='images/incident-icon-sm.svg') }}"
                     alt="Incidents Documented"
                     title="Incidents Documented"
                     class="pe-1">
                {{ department.total_documented_incidents() | thousands_separator }}
              </span>
            </div>
          {% endfor %}
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock content %}
