{% extends "base.html" %}
{% block content %}

<div class="container theme-showcase" role="main">
<h1>Contact</h1>
<p>Feel free to send a message to <a href="mailto:openoversight@redshiftzero.com">OpenOversight</a> with questions, suggestions, or concerns. If you want to deploy this system in your city please contact us or download the software on <a href="https://github.com/lucyparsons/OpenOversight/issues">Github</a>.</p>
<br>
<h1>Legal</h1>
<p>
<b>A note to Illinois law enforcement</b>: This project does not perform facial recognition and is thus in compliance with the Biometric Information Privacy Act. Requests or questions regarding this project from those affiliated with law enforcement must be directed to our <a href="mailto:legal@lucyparsonslabs.com">legal representation</a>.</p>
<br>
<h1>Media</h1>
<p>For media inquries about OpenOversight, please send us <a href="mailto:media@lucyparsonslabs.com">an email</a>.</p>
</div>
{% endblock %}
