{% extends "base.html" %}
{% block title %}
  Contact OpenOversight
{% endblock title %}
{% block meta %}
  <meta name="description"
        content="OpenOversight is a Lucy Parsons Labs project that aims to improve law enforcement visibility and transparency using public and crowdsourced data. We maintain databases, digital galleries, and profiles of individual law enforcement officers from departments across the United States that consolidate information including names, birthdates, mentions in news articles, salaries, and photographs.">
{% endblock meta %}
{% block content %}
  <div role="main" class="page-contact">
    <div class="hero-section no-sub">
      <h1 class="hero">Contact</h1>
    </div>
    <div class="vertical-padding horizontal-padding text-center">
      <div class="col-lg-6 text-start mx-auto mb-5 pt-5">
        <h2>Contact and media information:</h2>
        <p>
          For media inquiries about OpenOversight, please email <a href="mailto:media@lucyparsonslabs.com">media@lucyparsonslabs.com</a>.
        </p>
        <p>
          For other inquiries about the project, including collaboration, please contact <a href="mailto:openoversight@lucyparsonslabs.com">openoversight@lucyparsonslabs.com</a>.
        </p>
      </div>
    </div>
  </div>
{% endblock content %}
