{% extends "base.html" %}
{% block content %}

<div class="container" role="main">

  <div class="text-center">
    <h1><small>Departments</small></h1>
  </div>

  <div class="text-center frontpage-leads">

    {% for department in departments %}

    <h4><small>{{ department.name }} ({{department.short_name}})</small></h4>

    {% endfor %}

    {% if current_user.is_administrator %}
    <a href="{{ url_for('main.add_department') }}"
          class="btn btn-primary" role="button">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        Add New Department
    </a>

    <a href="{{ url_for('main.add_officer') }}"
          class="btn btn-primary" role="button">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        Add New Officer
    </a>

    <a href="{{ url_for('main.add_unit') }}"
          class="btn btn-primary" role="button">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        Add New Unit
    </a>
    {% endif %}

  </div>

</div>

{% endblock %}
