{% extends "base.html" %}
{% import "bootstrap5/form.html" as wtf %}
{% block title %}
  OpenOversight Admin - Edit Officer Assignment
{% endblock title %}
{% block content %}
  <div class="container theme-showcase py-5" role="main">
    <div class="page-header">
      <h1>Edit Officer Assignment</h1>
    </div>
    <div class="col-md-6">
      <form class="form" method="post" role="form">
        {{ form.hidden_tag() }}
        {{ wtf.render_hidden_errors(form) }}
        {{ wtf.render_field(form.star_no) }}
        {{ wtf.render_field(form.job_title, class="form-select") }}
        {{ wtf.render_field(form.unit, class="form-select") }}
        <h4>
          <small><a href="{{ url_for("main.add_unit") }}">Don't see your unit? Add one!</a></small>
        </h4>
        {{ wtf.render_field(form.start_date) }}
        {{ wtf.render_field(form.resign_date) }}
        <input class="btn btn-primary btn-lg" type="submit" value="Edit" />
      </form>
      <br>
    </div>
  </div>
{% endblock content %}
