{% extends "base.html" %}
{% block content %}

<div class="container theme-showcase" role="main">

  <h1 class="page-header">Digital Gallery <small>Do you see the officer here?</small></h1>
  <a href="/find" class="btn btn-info btn-md">Go Back to Search</a>

  {% include 'partials/paginate.html' %}

  <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          {% for officer in officers.items %}
           {% if loop.index == 1 %}
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
           {% else %}
          <li data-target="#myCarousel" data-slide-to="{{ loop.index }}"></li>
           {% endif %}
          {% endfor %}
        </ol>
        <div class="carousel-inner" role="listbox">
        {% for officer in officers.items %}

        {% if officer.face.first() is none %}
          {% set officer_image = '/static/images/placeholder.png' %}
        {% else %}
          {% set officer_image = officer.face.first().image.filepath %}
        {% endif %}
        {% set assignment = officer.assignments.first() %}

        {% if loop.index == 1 %}
          <div class="item active">
        {% else %}
          <div class="item">
        {% endif %}
          <div class="container">
            <div class="carousel-caption">
              <h1><a href="{{ url_for('main.officer_profile', officer_id=officer.id) }}" id="officer-profile-{{ loop.index }}">
              {% include 'partials/officer_name.html' %}</a> <small>#{{ assignment.star_no }}</small></h1>

              <div align="center">
                <img src="{{ officer_image }}" class="img-responsive thumbnail">
              </div>

              {% if officer.department.name == 'Chicago Police Department' %}
              <a class="btn btn-md btn-primary" id="officer-found-{{ loop.index }}" role="button" href="{{ url_for('main.submit_complaint',
                               officer_last_name=officer.last_name,
                               officer_first_name=officer.first_name,
                               officer_middle_initial=officer.middle_initial,
                               officer_suffix=officer.suffix,
                               officer_star=assignment.star_no,
                               officer_image=officer_image) }}">That's the officer!</a>
              {% endif %}
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
  </div>
</div>

{% endblock %}
