{% extends "base.html" %}
{% block content %}
  <div class="container" role="main">
    <div class="page-header">
      <h1>Image Submission Detail</h1>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <img class="officer-face" src="{{ path }}" alt="Submission">
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <div class="caption">
            <h3>Metadata</h3>
            <table class="table table-hover">
              <tbody>
                <tr>
                  <td>
                    <b>Image ID</b>
                  </td>
                  <td>{{ image.id }}</td>
                </tr>
                <tr>
                  <td>
                    <b>Department</b>
                  </td>
                  <td>{{ image.department.name }}</td>
                </tr>
                <tr>
                  <td>
                    <b>Date image inserted</b>
                  </td>
                  <td>
                    {% if image.created_at %}
                      {{ image.created_at | local_date_time }}
                    {% else %}
                      Not provided
                    {% endif %}
                  </td>
                </tr>
                <tr>
                  <td>
                    <b>Date image taken</b>
                  </td>
                  <td>
                    {% if image.taken_at %}
                      {{ image.taken_at | local_date_time }}
                    {% else %}
                      Not provided
                    {% endif %}
                  </td>
                </tr>
              </tbody>
            </table>
            <h3>Classification</h3>
            <table class="table table-hover">
              <tbody>
                <tr>
                  <td>
                    <b>Contains cops?</b>
                  </td>
                  <td>
                    {% if image.contains_cops != None %}
                      {{ image.contains_cops }}
                    {% else %}
                      Not yet classified!
                    {% endif %}
                  </td>
                </tr>
                <tr>
                  <td>
                    <b>Has been tagged?</b>
                  </td>
                  <td>{{ image.is_tagged }}</td>
                </tr>
                <tr>
                  <td>
                    <b>Classified by user</b>
                  </td>
                  <td>
                    <a href="{{ url_for('main.profile', username=image.creator.username) }}">{{ image.creator.username }}</a>
                  </td>
                </tr>
              </tbody>
            </table>
            {% if current_user.is_admin_or_coordinator(image.department) %}
              <h3>
                Classify <small>Admin only</small>
              </h3>
              <p>
                <form action="{{ url_for('main.classify_submission', image_id=image.id, contains_cops=0) }}"
                      method="post">
                  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                  <button type="submit" name="action" class="btn btn-primary">No cops here</button>
                </form>
              </p>
              <p>
                <form action="{{ url_for('main.classify_submission', image_id=image.id, contains_cops=1) }}"
                      method="post">
                  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                  <button type="submit" name="action" class="btn btn-primary">Cops here</button>
                </form>
              </p>
              <h3>
                Identify <small>Admin only</small>
              </h3>
              <p>
                <a href="{{ url_for('main.label_data', image_id=image.id) }}">
                  <button class="btn btn-primary">Tag this image</button>
                </a>
              </p>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
