{% extends 'base.html' %}

{% block head %}
	<link href="{{ url_for('static', filename='css/responsive_embed.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
	{% set incident = obj %}
	<main class='container pt-35' role='main'>
		<a href="{{ url_for('main.incident_api')}}">All Incidents</a>
		<h1>Incident {{incident.report_number}}</h1>
		<div class='row'>
			<div class="col-sm-12 col-md-6">
				{% with detail=True %}
					{% include 'partials/incident_fields.html' %}
				{% endwith %}
			</div>
			<div class="col-sm-12 col-md-6">
				<h5>Description</h5>
				<p>{{ incident.description }}</p>
			</div>
		</div>
		{% include 'partials/links_and_videos_row.html' %}
		{% if current_user.is_administrator
              or (current_user.is_area_coordinator and current_user.ac_department_id == incident.department_id) %}
			<div class="row">
				<div class="col-sm-12 col-md-6">
					<a class="btn btn-primary" href="{{ '{}/edit'.format(url_for('main.incident_api', id=incident.id))}}" role="button">Edit</a>
					<a class="btn btn-danger" href="{{ '{}/delete'.format(url_for('main.incident_api', id=incident.id))}}" role="button">Delete</a>
				</div>
			</div>
		{% endif %}
	</main>
{% endblock %}
