{% extends "list.html" %}

{% block list %}
	<h1>Incidents</h1>
	{% if department %}
		<h2><small>{{ department.name }}</small></h2>
		<p>
			<a href="{{ url_for('main.incident_api')}}">All Incidents</a>
		</p>
	{% endif %}
	<ul class="list-group">
		{% if objects.items %}
		  {% for incident in objects.items %}
		  	<li class="list-group-item">
		  		<h3>
		  				<a href="{{ url_for('main.incident_api', obj_id=incident.id)}}">
		  				Incident
              {% if incident.report_number %}
                {{ incident.report_number }}
              {% endif %}
		  			</a>
		  		</h3>
		    	{% include 'partials/incident_fields.html' %}
		    </li>
		  {% endfor %}
		{% else %}
			<p>There are no incidents.</p>
		{% endif %}
	</ul>
	{% if current_user.is_administrator or current_user.is_area_coordinator %}
		<a href="{{ url_for('main.incident_api')+ 'new' }}" class="btn btn-primary" role="button">
	      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
	      Add New Incident
	  </a>
	{% endif %}
{% endblock list %}
