{% extends "base.html" %}
{% block content %}

<div class="" role="main">
    <div class="tc">
        <div class="hero-section">
            <div class="f1">Help Us Build Transparency</div>
            <div class="f3 o-60">OpenOversight: A public, searchable database of law enforcement officers.</div>
        </div>

        <div class="cf">
            <div class="w-50-ns fl pa3 pb6-ns pa6-l tl bg-light-gray">
                <h1 class="">Browse or Find a Law Enforcement Officer</h1>
                <div class="o-80">Search the database</div>

                <p>
                    Search our public database for available information on officers in your city or to identify an officer with whom you have had a negative interaction.

                </p>
                <a href="/browse" class="mt3 link b--dark-gray dib dark-gray pa3 br4 bg-white ba bw2">
                    Browse officers
                </a>
                <div class="small-horizontal-padding"></div>
                <a href="/find" id="cpd" class="mt3 link b--dark-gray dib dark-gray pa3 br4 bg-white ba bw2">
                    Identify officers
                </a>
            </div>

            <div class="w-50-ns fl pa3 mb5 pa6-l tl">
                <h1>Submit an Image</h1>
                <div class="o-80">Contribute to the database</div>
                <p>
                    Have a photo containing faces and/or badge numbers of uniformed law enforcement officers? Drop them here.
                    Alternatively, for very high security uploads of photos or videos, you can use our
                    <a href="https://lucyparsonslabs.com/securedrop/" target="_blank">SecureDrop</a> tool.
                </p>
                <a class="mt3 link b--dark-gray dib dark-gray pa3 br4 bg-white ba bw2" href="{{ url_for('main.submit_data') }}">
                    Submit Image
                </a>
            </div>

        </div>
    </div>
    <div class="hr-banner">
        Want to help? Here are two ways...
    </div>

    <div class="row display-flex">
        <div class="pa3">
            <h1>
                <small>Volunteer</small>
            </h1>
            <p>
                We're looking for volunteers to help us sort through images. If you're interested in helping out, please
                sign up!
            </p>
            <a class="mt3 link dib white pa3 br4 bg-black" href="{{ url_for('main.get_started_labeling') }}">
                Put me to work
            </a>
        </div>
        <div class="pa3">
            <h1>
                <small>Donate</small>
            </h1>
            <p>
                <!--TODO check on link + copy-->
                We are entirely volunteer funded and directed. Donations are greatly appreciated, and can be funded
                through PayPal, YouCaring, or Bitcoin.
                <br>
                Note: We are an IRS 501(c)3 not-for-profit and all donations are tax deductible!
            </p>
            <a class="mt3 link dib white pa3 br4 bg-black" href="https://lucyparsonslabs.com/support/" target="_blank">
                Donate
            </a>
        </div>

    </div>

</div>

{% endblock %}
