{% extends "base.html" %}
{% block content %}

    <div class="container theme-showcase" role="main">

      <div class="page-header">
        <h1>Find a Police Officer</h1>
      </div>
      <a href="/find" id="cpd" class="btn btn-lg btn-primary">Chicago Police Department</a>
      <!--<a href="" class="btn btn-lg btn-primary">Add a Department</a>-->

      <div class="page-header">
        <h1>Volunteer</h1>
      </div>
      <p><a class="btn btn-lg btn-primary" href="/submit">Submit Images</a></p>
      <p><a class="btn btn-lg btn-primary" href="/label">Put me to Work!</a></p>

    </div>

{% endblock %}
