{% extends "base.html" %}
{% block title %}
  Find an officer - OpenOversight
{% endblock title %}
{% block meta %}
  <meta name="description"
        content="Find an officer you interacted with using this form.">
{% endblock meta %}
{% block content %}
  <div role="main">
    <div class="hero-section no-sub">
      <div class="hero">Find an Officer</div>
    </div>
  </div>
  <div class="container" role="main">
    <div class="horizontal-padding">
      <p class="font-weight-300">
        Fill in the information you know about an officer you interacted with. Don't worry if you don't know or
        have answers to every question. OpenOversight takes what you provide and generates a digital gallery of
        officers who may be a match.
      </p>
    </div>
    <form action="{{ url_for("main.get_officer") }}" method="post" class="form">
      {{ form.hidden_tag() }}
      <div id="step-1"
           class="card mb-5"
           data-ranks-url="{{ url_for("main.get_dept_ranks") }}"
           data-units-url="{{ url_for("main.get_dept_units") }}">
        <div class="card-header bg-light-subtle">
          <h2 class="card-title">
            <small>Department</small>
          </h2>
        </div>
        <div class="card-body row">
          <div class="input-group input-group-lg col-12">{{ form.dept(class="form-select") }}</div>
          {% for error in form.dept.errors %}
            <p>
              <span class="red">[{{ error }}]</span>
            </p>
          {% endfor %}
        </div>
      </div>
      <div class="card my-5" id="step-2">
        <div class="card-header bg-light-subtle">
          <h2 class="card-title">
            <small>Name and Badge Number</small>
          </h2>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-6">
              <label for="first_name">First Name (any part)</label>
              <div class="input-group input-group-lg">
                {{ form.first_name(class="form-control") }}
                {% for error in form.first_name.errors %}
                  <p>
                    <span class="red">[{{ error }}]</span>
                  </p>
                {% endfor %}
              </div>
            </div>
            <div class="col-md-6">
              <label for="last_name">Last Name (any part)</label>
              <div class="input-group input-group-lg">
                {{ form.last_name(class="form-control") }}
                {% for error in form.last_name.errors %}
                  <p>
                    <span class="red">[{{ error }}]</span>
                  </p>
                {% endfor %}
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <label for="badge">Badge Number (any part)</label>
              <div class="input-group input-group-lg">
                {{ form.badge(class="form-control") }}
                {% for error in form.badge.errors %}
                  <p>
                    <span class="red">[{{ error }}]</span>
                  </p>
                {% endfor %}
              </div>
            </div>
            <div id="uii-question" class="col-md-6">
              <label for="unique_internal_identifier"
                     id="current-uii"
                     data-departments='{{ depts_dict | tojson }}'>Unique Internal Identifier (any part)</label>
              <div class="input-group input-group-lg">
                {{ form.unique_internal_identifier(class="form-control") }}
                {% for error in form.unique_internal_identifier.errors %}
                  <p>
                    <span class="red">[{{ error }}]</span>
                  </p>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card my-5" id="step-3">
        <div class="card-header bg-light-subtle">
          <h2 class="card-title">
            <small>Officer Rank, Unit, and Status</small>
          </h2>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-6">
              <label for="rank">Officer Rank</label>
              <div class="input-group input-group-lg col-md-4 col-md-offset-4">
                {{ form.rank(class="form-select") }}
                {% for error in form.rank.errors %}
                  <p>
                    <span class="red">[{{ error }}]</span>
                  </p>
                {% endfor %}
              </div>
              <div id="show-img-div">
                <p>
                  <button type="button" id="show-img" class="btn btn-link">Show rank shoulder patches as reference</button>
                </p>
              </div>
              <div id="hidden-img" class="no-display">
                <p>
                  <button type="button" id="hide-img" class="btn btn-link">Hide rank shoulder patches</button>
                </p>
                <img src="{{ url_for('static', filename='images/OfficerRank.png') }}"
                     width="50%"
                     height="50%"
                     alt="A chart representing officer ranks and their symbols/shoulder patches. Superintendent: Four stars. First Deputy Superintendent: Three stars. Chief: Two stars. Deputy Chief: One star. Commander: A silver oak leaf. Captain: Two parallel vertical bars that can be gold or silver. Lieutenant: A vertical bar that is gold or silver. Sergeant: Three chevrons or stripes. Field Training Officer: A single chevron with a horizontal line across the bottom with the letters FTO inside. The following do not have a symbol or patch: Police Officer/Assigned as: Detective, Youth Officer, Gang Specialist, Police Agent, Major Accident Investigator.">
              </div>
            </div>
            <div class="col-md-6">
              <label for="unit">Officer Unit</label>
              <div class="input-group input-group-lg">
                {{ form.unit(class="form-select") }}
                {% for error in form.unit.errors %}
                  <p>
                    <span class="red">[{{ error }}]</span>
                  </p>
                {% endfor %}
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="form-check">
                {{ form.current_job(class="form-check-input") }}
                <label class="form-check-label" for="current_job">
                  Currently Employed
                  <span class="text-muted">(in this unit and/or rank, if specified)</span>
                </label>
                {% for error in form.current_job.errors %}
                  <p>
                    <span class="red">[{{ error }}]</span>
                  </p>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card my-5" id="step-4">
        <div class="card-header bg-light-subtle">
          <h2 class="card-title">
            <small>Officer Demographics</small>
          </h2>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-6">
              <label for="race">Officer Race</label>
              <div class="input-group input-group-lg">
                {{ form.race(class="form-select") }}
                {% for error in form.race.errors %}
                  <p>
                    <span class="red">[{{ error }}]</span>
                  </p>
                {% endfor %}
              </div>
            </div>
            <div class="col-md-6">
              <label for="gender">Officer Gender</label>
              <div class="input-group input-group-lg">
                {{ form.gender(class="form-select") }}
                {% for error in form.gender.errors %}
                  <p>
                    <span class="red">[{{ error }}]</span>
                  </p>
                {% endfor %}
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <span>Officer Age</span>
              <div class="input-group input-group-lg">
                <div class="col-md-6">
                  <label for="min_age">Min</label>
                  {{ form.min_age(size=4, class="form-control") }}
                  {% for error in form.min_age.errors %}
                    <p>
                      <span class="red">[{{ error }}]</span>
                    </p>
                  {% endfor %}
                </div>
                <div class="col-md-6">
                  <label for="max_age">Max</label>
                  {{ form.max_age(size=4, class="form-control") }}
                  {% for error in form.max_age.errors %}
                    <p>
                      <span class="red">[{{ error }}]</span>
                    </p>
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container my-5">
        <div class="col-md-6 offset-3">
          <input class="btn btn-primary btn-lg next input-group input-group-lg"
                 type="submit"
                 value="Generate officer gallery"
                 id="user-notification"
                 name="submit-officer-search-form" />
          <img id="loader"
               style="display:none"
               src="{{ url_for('static', filename='images/page-loader.gif') }}"
               alt="">
        </div>
      </div>
    </form>
  </div>
{% endblock content %}
