{% extends "base.html" %}
{% block content %}

<div role="main">
    <div class="hero-section no-sub">
        <h1 class="f1">Find an officer</h1>
    </div>
</div>

<div class="w-60-l cf pa2 center f3-ns" role="main">
  <div class="pa5-ns">
    <div class="lead">
        Use this form to generate a gallery of law enforcement officers.
    </div>
    <p class="">
        Fill in the information you know about an officer you interacted with. Don't worry if you don't know or
        have answers to every question. OpenOversight takes what you provide and generates a digital gallery of
        officers who may be a match.
    </p>
  </div>
    <form action="{{ url_for('main.get_officer') }}" method="post" class="form">
    {{ form.hidden_tag() }}

    <ul class="list f4-ns pa2 pa4-ns db w-40-ns fl-ns mt0 sticky">
        <li class="db pa0 ma0 active">
            <a href="#step-1">Step 1</a>
            <p class="">Department Information</p>
        </li>
        <li class="db pa0 ma0 disabled">
            <a href="#step-2">Step 2</a>
            <p class="">Partial Name or Badge Number</p>
        </li>
        <li class="db pa0 ma0 disabled">
            <a href="#step-3">Step 3</a>
            <p class="">Officer Rank</p>
        </li>
        <li class="db pa0 ma0 disabled">
            <a href="#step-4">Step 4</a>
            <p class="">Officer Demographics</p>
        </li>
    </ul>

    <div class="w-60-ns fl-ns pa0">
      <div class="tc center pa2 pa4-l ba mb6 br3" id="step-1">
          <h2><small>Select Department</small></h2>
          <div class="">
          {{ form.dept(class="form-control") }}
          </div>

          {% for error in form.dept.errors %}
          <p>
            <span style="color: red;">[{{ error }}]</span>
          </p>
          {% endfor %}

          <br>
      </div>

      <div class="mt5 tc center pa2 pa4-l ba mb6 br3" id="step-2">
          <h2>Do you remember any part of the Officer's last name?</h2>
          <div class="input-group input-group-lg col-md-4 col-md-offset-4">
            {{ form.name(class="form-control") }}
            {% for error in form.name.errors %}
                <p><span style="color: red;">[{{ error }}]</span></p>
            {% endfor %}
          </div>

          <h2>Do you remember any part of the Officer's badge number?</h2>
          <div class="input-group input-group-lg col-md-4 col-md-offset-4">
            {{ form.badge(class="form-control") }}
            {% for error in form.badge.errors %}
                <p><span style="color: red;">[{{ error }}]</span></p>
            {% endfor %}
          </div>

          <br>
      </div>

      <div class="mt5 tc center pa2 pa4-l ba mb6 br3" id="step-3">
          <h2>Officer Rank</h2>
          <div class="input-group input-group-lg col-md-4 col-md-offset-4">
          {{ form.rank(class="form-control") }}
          {% for error in form.rank.errors %}
              <p><span style="color: red;">[{{ error }}]</span></p>
          {% endfor %}
          </div>

          <div id="show_img_div">
          <p><a class="pointer" id="show_img">Show rank shoulder patches as reference</a></p>
          </div>
          <div id="hidden_img" style="display:none;">
            <p><a class="pointer" id="hide_img">Hide rank shoulder patches</a></p>
            <img class="ba" src="{{url_for('static', filename='images/OfficerRank.png')}}" width="50%" height="50%">
          </div>
      </div>

      <div class="mt5 tc center pa2 pa4-l ba mb6 br3" id="step-4">
          <h2>Race</h2>
          <div class="">
            {{ form.race(class="form-control") }}</h4>
          {% for error in form.race.errors %}
              <p><span style="color: red;">[{{ error }}]</span></p>
          {% endfor %}
          </div>

          <h2>Gender</h2>
          <div class="">
          {{ form.gender(class="form-control") }}</h4>
          {% for error in form.gender.errors %}
              <p><span style="color: red;">[{{ error }}]</span></p>
          {% endfor %}
          </div>

          <h2>Age</h2>
          <div class="">
          {{ form.min_age(size=4, class="form-control") }} to {{ form.max_age(size=4, class="form-control") }}
          {% for error in form.min_age.errors %}
              <p><span style="color: red;">[{{ error }}]</span></p>
          {% endfor %}
          {% for error in form.max_age.errors %}
              <p><span style="color: red;">[{{ error }}]</span></p>
          {% endfor %}
          </div>

          <input class="f3-l btn-lg mv5" type="submit" value="Generate officer gallery" id="user-notification" name="submit-officer-search-form" /> <img id="loader" style="display:none;" src="{{url_for('static', filename='images/page-loader.gif')}}">
      </div>
    </div>
  </form>
</div>

<style media="screen">
.sticky {
  position: sticky;
  top: 0;
}
</style>

<script src="{{ url_for('static', filename='js/complaint.js') }}"></script>
{% endblock %}
