{% extends "base.html" %}
{% block title %}Lookup an Officer's OpenOversight ID{% endblock %}
{% block meta %}<meta name="description" content="See badge number or name? Lookup an Officer's OpenOversight ID">{% endblock %}
{% block content %}

<div class="container theme-showcase" role="main">
    {% if current_user and current_user.is_authenticated %}
      <div class="page-header">
        <h2>See badge number or name? Lookup an Officer's OpenOversight ID</h2>
      </div>

      <p>Use the following form to put in the details you can see in the image. (It's okay if you can only see a partial name or badge number.)</p>
      <form action="{{ url_for('main.get_tagger_gallery') }}" method="post">
        {{ form.hidden_tag() }}
      <h4>Department: {{ form.dept }}</h4>
        {% for error in form.dept.errors %}
          <p><span style="color: red;">[{{ error }}]</span></p>
        {% endfor %}

      <h4>What part, if any, of the officer's last name is visible?</h4>
        {{ form.name }}
        {% for error in form.name.errors %}
          <p><span style="color: red;">[{{ error }}]</span></p>
        {% endfor %}

      <h4>What part, if any, of the officer's badge number is visible?</h4>
        {{ form.badge }}
        {% for error in form.badge.errors %}
          <p><span style="color: red;">[{{ error }}]</span></p>
        {% endfor %}

        <br><br>
        <p>
          <input class="btn btn-lg" type="submit" value="Lookup name/badge number in roster"/>
        </p>
      </form>

      <div class="page-header">
        <h2>See only a face?</h2>
      </div>

      <p>
        <a href="{{ url_for('main.get_officer') }}" class="btn btn-lg">Launch Find an Officer to generate a face gallery</a>
      </p>
    {% else %}
      <p>Please register or sign up to view this form:</p>

      <a href="{{ url_for('auth.register') }}"><button type="button" class="btn btn-lg btn-primary">Register</button></a>

      <br><br>
      <p>If you're already signed up:</p>

      <a href="{{ url_for('auth.login') }}"><button type="button" class="btn btn-lg btn-primary">Login</button></a>
    {% endif %}
</div>

{% endblock %}
