{% extends "base.html" %}
{% block content %}

    <div class="container theme-showcase" role="main">
        <h1>Label Officer Images</h1>

        <p>We're looking for volunteers to help us sort through images! Email <a href="mailto:info@lucyparsonslabs.com">info@lucyparsonslabs.com</a>
            to find out how to get started.</p>

        <div class="page-header">
            <h1>Tools for Volunteers</h1>
        </div>
        <p>If you're already signed up to review, then you can use the tools below.</p>

        <div class="page-header">
            <h2>Find an Officer's OpenOversight ID</h2>
        </div>

        <p>To link a submitted face with a given officer in the database, first you
            need to find the Officer's OpenOversight ID.</p>
        <p>Use the following
            form to put in the details you can see in the image:</p>

        <form action="{{ url_for('main.get_tagger_gallery') }}" method="post">
            {{ form.hidden_tag() }}
            <h4>Department: {{ form.dept }}</h4>
            {% for error in form.dept.errors %}
                <p><span style="color: red;">[{{ error }}]</span></p>
            {% endfor %}

            <h4>What is visible from the officer's name tag?</h4>
            {{ form.name }}
            {% for error in form.name.errors %}
                <p><span style="color: red;">[{{ error }}]</span></p>
            {% endfor %}

            <h4>What is visible from the badge number?</h4>
            {{ form.badge }}
            {% for error in form.badge.errors %}
                <p><span style="color: red;">[{{ error }}]</span></p>
            {% endfor %}

            <br><br>
            <p>
                <input class="btn btn-lg" type="submit" value="Lookup name/badge number in roster"/>
            </p>
        </form>

    </div>


    </div>

{% endblock %}
