{% extends "base.html" %}
{% import "bootstrap5/form.html" as wtf %}
{% from "bootstrap5/utils.html" import render_icon %}
{% block title %}
  Volunteer with OpenOversight
{% endblock title %}
{% block meta %}
  <meta name="description"
        content="Help OpenOversight create transparency with the first public, searchable database of law enforcement officers.">
{% endblock meta %}
{% block content %}
  {% if current_user and current_user.is_authenticated %}
    <div class="hero-section no-sub">
      <h1 class="hero">Volunteer</h1>
    </div>
    <div class="container theme-showcase vertical-padding" role="main">
      <div class="volunteer-top-buttons row my-5">
        <div class="col-lg-6 mb-1">
          <a href="{{ url_for('main.get_tutorial') }}"
             class="tutorial-btn-lg text-center">
            <img alt="Document icon"
                 class="p-2"
                 src="{{ url_for('static', filename='images/question-document.svg') }}">
            <h3>Start with a Tutorial</h3>
            <p>New to OpenOversight or just need a refresher? Get started here.</p>
          </a>
        </div>
        <div class="col-lg-6 mb-1">
          <a href="{{ url_for('main.leaderboard') }}"
             class="leaderboard-btn-lg text-center">
            <img alt="Trophy icon"
                 class="p-2"
                 src="{{ url_for('static', filename='images/trophy.svg') }}">
            <h3>See the Leaderboard</h3>
            <p>See the top users by images sorted and identified. Are you on the list?</p>
          </a>
        </div>
      </div>
      <div class="horizontal-padding">
        <h2>Upload photos of officers</h2>
        <p>Submit photos containing uniformed law enforcement officers.</p>
        <a class="btn btn-full btn-primary upload fs-4"
           href="{{ url_for('main.submit_data') }}">
          <img alt="Officer image upload"
               class="me-2"
               height="50"
               width="66"
               src="{{ url_for('static', filename='images/officer-upload-white.svg') }}">
        Start uploading</a>
        <h2 class="mt-5">Sort uploaded photos &amp; identify officers</h2>
        <p>
          Go through uploaded photos to determine if each is a valid photo of an officer. Go through officer photos to identify them.
        </p>
        <p>Use the list below to get started.</p>
        {% for state, departments in departments_by_state.items() %}
          <div class="state-row">
            <h3>{{ state | get_state_full_name }}</h3>
          </div>
          {% for department in departments %}
            <div class="frontpage-leads vertical-padding row">
              <div class="dept-inline col-12 col-sm-8 order-sm-2 order-1">
                <a href="{{ url_for('main.list_officer', department_id=department.id) }}">{{ department.name }} ({{ department.short_name }})</a>
              </div>
              <div class="col-12 col-sm-4 order-sm-1 order-2">
                <a class="btn btn-sm btn-primary sort-btn mb-1"
                   href="{{ url_for('main.sort_images', department_id=department.id) }}">
                  <img src="{{ url_for('static', filename='images/sort-photos-white.svg') }}"
                       alt="sort photos">
                  Sort
                </a>
                <a class="btn btn-sm btn-primary identify-btn mb-1"
                   href="{{ url_for('main.label_data', department_id=department.id) }}">
                  <img src="{{ url_for('static', filename='images/identify-officers-white.svg') }}"
                       alt="identify photos">
                  Identify
                </a>
              </div>
            </div>
          {% endfor %}
        {% endfor %}
      </div>
      <div class="row justify-content-center mb-5">
        {% if current_user.is_administrator %}
          <a href="{{ url_for('main.add_department') }}"
             class="btn btn-primary m-1 col-12 col-md-2"
             role="button">
            {{ render_icon("plus") }}
            Add New Department
          </a>
        {% endif %}
        {% if current_user.is_administrator or current_user.is_area_coordinator %}
          <a href="{{ url_for('main.add_officer') }}"
             class="btn btn-primary m-1 col-12 col-md-2"
             role="button">
            {{ render_icon("plus") }}
            Add New Officer
          </a>
          <a href="{{ url_for('main.add_unit') }}"
             class="btn btn-primary m-1 col-12 col-md-2"
             role="button">
            {{ render_icon("plus") }}
            Add New Unit
          </a>
          <a href="{{ url_for('main.incident_api_new') }}"
             class="btn btn-primary m-1 col-12 col-md-2"
             role="button">
            {{ render_icon("plus") }}
            Add New Incident
          </a>
        {% endif %}
      </div>
    </div>
  {% else %}
    <div role="main" class="page-volunteer">
      <div class="hero-section no-sub">
        <h1 class="hero">Volunteer</h1>
      </div>
      <div>
        <div class="col-lg-6 mx-auto pt-5 vertical-padding">
          <p>
            We’re powered by people like you. Help OpenOversight create transparency with the first public, searchable database of law enforcement officers.
          </p>
          <p>Here are easy ways you can help:</p>
        </div>
        <div class="col-lg-6 mx-auto mt-5 align-items-center display-flex volunteer-options vertical-padding">
          <div class="col-sm-4 me-5 text-end">
            <img src="{{ url_for('static', filename='images/officer-upload-gray.svg') }}"
                 alt="Upload officer photos">
          </div>
          <div class="col-sm-8 my-4">
            <h3>Upload photos of officers</h3>
            <p>Submit photos containing uniformed law enforcement officers.</p>
          </div>
        </div>
        <div class="col-lg-6 mx-auto align-items-center display-flex volunteer-options vertical-padding">
          <div class="col-sm-4 me-5 text-end">
            <img src="{{ url_for('static', filename='images/sort-photos-gray.svg') }}"
                 alt="Sort uploaded photos">
          </div>
          <div class="col-sm-8 my-4">
            <h3>Sort uploaded photos</h3>
            <p>Go through uploaded photos to determine if each is a valid photo of an officer.</p>
          </div>
        </div>
        <div class="col-lg-6 mx-auto align-items-center display-flex volunteer-options vertical-padding">
          <div class="col-sm-4 me-5 text-end">
            <img src="{{ url_for('static', filename='images/identify-officers-gray.svg') }}"
                 alt="Identify officers">
          </div>
          <div class="col-sm-8 my-4">
            <h3>Identify officers</h3>
            <p>Go through uploaded photos to determine if each is a valid photo of an officer.</p>
          </div>
        </div>
        <div class="col-lg-6 mx-auto my-2 py-5 text-center">
          <h2>Get Started!</h2>
          <a class="btn btn-lg btn-info btn-primary m-2"
             href="{{ url_for('auth.register') }}">Register a new account</a>
          <a class="btn btn-lg btn-info btn-primary m-2"
             href="{{ url_for('auth.login') }}">Log In</a>
        </div>
      </div>
    </div>
  {% endif %}
{% endblock content %}
