{% extends "base.html" %}

{% block content %}

<div class="container theme-showcase" role="main">

    {% if current_user and current_user.is_authenticated %}
    <div class="text-center frontpage-leads">
      <h1><small>Volunteer</small></h1>
    </div>

    {% for department in departments %}
    <div class="text-center frontpage-leads">
      <h2><small>{{ department.name }} ({{department.short_name}})</small></h2>
      <p>
        <a class="btn btn-lg btn-primary" href="{{ url_for('main.sort_images', department_id=department.id) }}">
          <span class="glyphicon glyphicon-duplicate" aria-hidden="true"></span>
          Image classification
        </a>
        Sort submitted images into those with and without officers.
      </p>
      <p>
        <a class="btn btn-lg btn-primary" href="{{ url_for('main.label_data', department_id=department.id) }}">
          <span class="glyphicon glyphicon-tag" aria-hidden="true"></span>
          Officer identification
        </a>
        Use our roster search to try and identify officers in submitted images.
      </p>
    </div>
    {% endfor %}

    <div class="text-center frontpage-leads">
      <p>
        <a class="btn btn-lg btn-primary" href="{{ url_for('main.get_tutorial') }}">
          <span class="glyphicon glyphicon-alert" aria-hidden="true"></span>
          Tutorial
        </a>
      </p>
      <p>
        New to working on images for OpenOversight? Or just need a refresher?
      </p>
    </div>

        {% if current_user.is_administrator %}
        <div class="text-center frontpage-leads">
          <a href="{{ url_for('main.add_department') }}"
                class="btn btn-primary" role="button">
              <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
              Add New Department
          </a>

          <a href="{{ url_for('main.add_officer') }}"
                class="btn btn-primary" role="button">
              <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
              Add New Officer
          </a>

          <a href="{{ url_for('main.add_unit') }}"
                class="btn btn-primary" role="button">
              <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
              Add New Unit
          </a>
        </div>
        {% endif %}

    {% else %}

      <div class="text-center frontpage-leads">
        <h1><small>Volunteer</small></h1>
        <p>We're looking for volunteers to help us sort through images. If you're interested in helping out, please sign up!</p>
        <p>
          <a class="btn btn-lg btn-primary" href="{{ url_for('auth.register') }}">
            Register
          </a>
        </p>
      </div>

      <div class="text-center frontpage-leads">
        <p>If you're already a volunteer, log in:</p>
        <p>
          <a class="btn btn-lg btn-primary" href="{{ url_for('auth.login') }}">
            Login
          </a>
        </p>
      </div>

    {% endif %}

</div>
{% endblock %}
