{% extends "base.html" %}
{% block content %}

<style>
.thumbnail_container {
     position: relative;
     padding-bottom: 100%;
     float:left;
}

.thumbnail {
    position:absolute;
    width:80%;
    height:80%;
}
.thumbnail img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

img{
    max-height:80%;
    max-width:80%;
}
</style>

<div class="container theme-showcase" role="main">

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Digital Lineup <small>Do you see the officer here?</small></h1>
            </div>
            <div class="container">
            <!--<h3><small>We found</small> {{ officers.rowcount }} <small>matching officers.</small></h3>-->

            {% for officer in officers %}
            <div class="col-md-3 col-sm-4 col-xs-6">
                <div class="thumbnail_container">

                <h5>{{ officers[officer]['first_name'].lower()|title }} 
                {% if officers[officer]['middle_initial'] %}{{ officers[officer]['middle_initial'] }}. {% endif %}
                {{ officers[officer]['last_name'].lower()|title }} <small>#{{ officers[officer]['star_no'] }}</small></h5>
                <!--<a class="thumbnail" href="#">-->
                    <img class="img-responsive thumbnail" src="{{ officer_images[officer] }}" alt="">
                <!--</a>-->
                </div>
            </div>
            {% endfor %}
            </div>

        </div>

<div class="page-header">
<h1>Your Query</h1>
</div>
<p><b>Department</b>: {{ form['dept'] }}</p>
<p><b>Officer rank</b>: {{ form['rank'] }}</p>
<p><b>Officer race</b>: {{ form['race'] }}</p>
<p><b>Officer gender</b>: {{ form['gender'] }}</p>
<p><b>Officer age</b>: {{ form['min_age'] }} to {{ form['max_age'] }}</p>
<p><b>Incident latitude</b>: {{ form['latitude'] }}</p>
<p><b>Incident longitude</b>: {{ form['longitude'] }}</p>

</div>

{% endblock %}
