{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
<div class="container" role="main">
  {% if from_search %}
    <h1>No Results Found</h1>
    <h4>Sorry, no officers found for your search! <a href="/find">Try again</a></h4>
    <h2>Other Officers from {{ department.name|title }}</h2>
  {% else %}
    <h1>
      {{ department.name|title }} Officers
    </h1>
  {% endif %}
    <h4>Filter officers</h4>
    <div>
      <form class="form" method="get" role="form">
         <div class="browse-form-input" data-value="{{ race }}">
          {{ wtf.form_field(form.race) }}
        </div>
        <div class="browse-form-input" data-value="{{ gender }}">
          {{ wtf.form_field(form.gender) }}
        </div>
        <div class="browse-form-input" data-value="{{ rank }}">
          {{ wtf.form_field(form.rank) }}
        </div>
        <div class="browse-form-input" data-value="{{ min_age }}">
          {{ wtf.form_field(form.min_age) }}
          {{ wtf.form_field(form.min_age).label }}
        </div>
        <div class="browse-form-input" data-value="{{ max_age }}">
          {{ wtf.form_field(form.max_age) }}
        </div>
        <br>
        {{ wtf.form_field(form.submit, id="submit", button_map={'submit':'primary'}) }}
    </div>
  {% with paginate=officers,
          next_url=url_for('main.list_officer', department_id=department.id, page=officers.next_num,
        from_search=from_search, race=race, gender=gender, rank=rank, min_age=min_age, max_age=max_age),
          prev_url=url_for('main.list_officer', department_id=department.id, page=officers.prev_num,
          from_search=from_search, race=race, gender=gender, rank=rank, min_age=min_age, max_age=max_age),
          location='top' %}
    {% include "partials/paginate_nav.html" %}
  {% endwith %}
  <ul class="list-group">
    {% for officer in officers.items %}
      {% if officer.face.first() is none %}
          {% set officer_image = '/static/images/placeholder.png' %}
        {% else %}
          {% set officer_image = officer.face.first().image.filepath %}
        {% endif %}
      {% set assignment = officer.assignments.first() %}
      <li class="list-group-item">
          <div class="row">
            <div class="col-md-6 col-xs-12">
              <img src="{{ officer_image }}" class="img-responsive thumbnail" alt="{% include 'partials/officer_name.html' %}">
            </div>
            <div class="col-md-6 col-xs-12">
              <h2>
                <a href="{{ url_for('main.officer_profile', officer_id=officer.id) }}" id="officer-profile-{{ loop.index }}">{% include "partials/officer_name.html" %}</a>
                <small>#{{ assignment.star_no }}</small>
              </h2>
              <div class="row">
                <div class="col-md-6 col-xs-6">
                  <dl>
                    <dt>Job Title</dt>
                    <dd>{{ assignment.job.job_title|default('Unknown') }}</dd>
                    <dt>Race</dt>
                    <dd>{{ officer.race|default('Unknown')|lower|title }}</dd>
                  </dl>
                </div>
                <div class="col-md-6 col-xs-6">
                  <dl>
                    <dt>Gender</dt>
                    <dd>{{ officer.gender|default('Unknown') }}</dd>
                    <dt>Number of Photos</dt>
                    <dd>{{ officer.face.count() }}</dd>
                  </dl>
                </div>
              </div>
            </div>
          </div>
      </li>
    {% endfor %}
  </ul>

  {% with paginate=officers,
          next_url=url_for('main.list_officer', department_id=department.id, page=officers.next_num,
        from_search=from_search, race=race, gender=gender, rank=rank, min_age=min_age, max_age=max_age),
          prev_url=url_for('main.list_officer', department_id=department.id, page=officers.prev_num,
          from_search=from_search, race=race, gender=gender, rank=rank, min_age=min_age, max_age=max_age),
          location='bottom' %}
    {% include "partials/paginate_nav.html" %}
  {% endwith %}
</div>
{% block js_footer %}
<script>
  jQuery(document).ready(function($){
    $('.browse-form-input').each(function(i) {
      var input = $(this);
      var select = input.find('select');
      select.find('option').each(function(option) {
        if ($(this).text() == input.data('value')) {
          select.val($(this).val());
        }
      });
    });
  });
</script>
{% endblock %}
</form>
{% endblock content %}
