{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
<div class="container" role="main">
  {% if from_search %}
    <h1>No Results Found</h1>
    <h4>Sorry, no officers found for your query! <a href="/find">Try again</a></h4>
    <h2>Other Officers from {{ department.name|title }}</h2>
  {% else %}
    <h4><a href="/find">Search for officers</a></h4>
    <h4>Filter officers</h4>
    <div>
      <form class="form" method="post" role="form">
         <div class="browse-form-input">
          {{ wtf.form_field(form.race) }}
        </div>
        <div class="browse-form-input">
          {{ wtf.form_field(form.gender) }}
        </div>
        <div class="browse-form-input">
          {{ wtf.form_field(form.rank) }}
        </div>
        <div class="browse-form-input">
          {{ wtf.form_field(form.min_age) }}
          {{ wtf.form_field(form.min_age).label }}
        </div>
        <div class="browse-form-input">
          {{ wtf.form_field(form.max_age) }}
        </div>
        <br>
        {{ wtf.form_field(form.submit, id="submit", button_map={'submit':'primary'}) }}
    </div>
    <h1>
      {{ department.name|title }} Officers
    </h1>
  {% endif %}
  {% with paginate=officers, location='top'%}
    {% include "partials/paginate_nav.html" %}
  {% endwith %}
  <ul class="list-group">
    {% for officer in officers.items %}
      {% if officer.face.first() is none %}
          {% set officer_image = '/static/images/placeholder.png' %}
        {% else %}
          {% set officer_image = officer.face.first().image.filepath %}
        {% endif %}
      {% set assignment = officer.assignments.first() %}
      <li class="list-group-item">
          <div class="row">
            <div class="col-md-6 col-xs-12">
              <img src="{{ officer_image }}" class="img-responsive thumbnail" alt="{% include 'partials/officer_name.html' %}">
            </div>
            <div class="col-md-6 col-xs-12">
              <h2>
                <a href="{{ url_for('main.officer_profile', officer_id=officer.id) }}" id="officer-profile-{{ loop.index }}">{% include "partials/officer_name.html" %}</a>
                <small>#{{ assignment.star_no }}</small>
              </h2>
              <div class="row">
                <div class="col-md-6 col-xs-6">
                  <dl>
                    <dt>Rank</dt>
                    <dd>{{ assignment.rank|default('Unknown') }}</dd>
                    <dt>Race</dt>
                    <dd>{{ officer.race|default('Unknown')|lower|title }}</dd>
                  </dl>
                </div>
                <div class="col-md-6 col-xs-6">
                  <dl>
                    <dt>Gender</dt>
                    <dd>{{ officer.gender|default('Unknown') }}</dd>
                    <dt>Number of Photos</dt>
                    <dd>{{ officer.face.count() }}</dd>
                  </dl>
                </div>
              </div>
            </div>
          </div>
      </li>
    {% endfor %}
  </ul>

  {% with paginate=officers,
          next_url=url_for('main.list_officer', department_id=department.id, page=officers.next_num,
        from_search=from_search),
          prev_url=url_for('main.list_officer', department_id=department.id, page=officers.prev_num,
          from_search=from_search),
          location='bottom' %}
    {% include "partials/paginate_nav.html" %}
  {% endwith %}
</div>
<script src="{{ url_for('static', filename='js/browseFiltering.js') }}"></script>¬
</form>
{% endblock content %}
