{% extends "base.html" %}
{% block content %}

<div class="container theme-showcase" role="main">
  <form action="" method=post class="form-horizontal">
    <h2>Login to OpenOversight</h2>
    <p>(For Volunteers)</p>
    <div class="control-group">
        <div class="controls">
          <input type="text" id="username" name="username" class="input-xlarge"
            placeholder="Enter Username" required>
        </div>
    </div>
 
    <div class="control-group">
        <div class="controls">
          <input type="password" id="password" name="password" class="input-xlarge"
            placeholder="Enter Password" required>
        </div>
    </div>
 
    <div class="control-group">
        <div class="controls">
          <button type="submit" class="btn btn-success">Login</button>
        </div>
    </div>
  </form>
</div>

{% endblock %}
