{% extends "form.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block page_title %}
  Update Note
{% endblock page_title %}
{% block form %}
  {% if form.errors %}
    {% set post_url = url_for('main.note_api', officer_id=obj.officer_id, obj_id=obj.id) %}
  {% else %}
    {% set post_url = url_for('main.note_api_edit', officer_id=obj.officer_id, obj_id=obj.id) %}
  {% endif %}
  {{ wtf.quick_form(form, action=post_url, method='post', button_map={'submit':'primary'}) }}
  <br>
{% endblock form %}
