{% extends "base.html" %}
{% block content %}

<div class="container" role="main">

  <div class="page-header">
      <h1><a href={{url_for('main.list_officer',department_id=officer.department.id)}}>{{ officer.department.name|title }}</a> >> <b>{% include 'partials/officer_name.html' %}</b></h1>
  </div>

  <div class="row">
    <div class="col-sm-6">
      {% for path in paths %}
      {% if current_user.is_administrator
        or (current_user.is_area_coordinator and current_user.ac_department_id == officer.department_id) %}
      <a href="{{ url_for('main.display_tag', tag_id=faces[loop.index - 1].id) }}">
      {% endif %}
      <img src="{{ path }}" alt="Submission">
      {% if current_user.is_administrator
        or (current_user.is_area_coordinator and current_user.ac_department_id == officer.department_id) %}
      </a>
      {% endif %}
      {% endfor %}
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <div class="caption">
          <h3>General Information
            {% if current_user.is_administrator
              or (current_user.is_area_coordinator and current_user.ac_department_id == officer.department_id) %}
            <a href="{{ url_for('main.edit_officer', officer_id=officer.id) }}">
              <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
            </a>
            {% endif %}
          </h3>
          <table class="table table-hover">
            <tbody>
              <tr>
                <td><b>OpenOversight ID</b></td>
                <td>{{ officer.id }}</td>
              </tr>
              <tr>
                <td><b>Unique Internal Identifier</b></td>
                <td>{{ officer.unique_internal_identifier }}</td>
              </tr>
              <tr>
                <td><b>Department</b></td>
                <td>{{ officer.department.name }}</td>
              </tr>
              <tr>
                <td><b>Race</b></td>
                <td>{{ officer.race }}</td>
              </tr>
              <tr>
                <td><b>Gender</b></td>
                <td>{{ officer.gender }}</td>
              </tr>
              <tr>
                <td><b>Birth Year</b></td>
                <td>{{ officer.birth_year }}</td>
              </tr>
              <tr>
                <td><b>First Employment Date</b></td>
                <td>{{ officer.employment_date }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div> {# end col #}
  </div> {# end row #}

  <div class="row">
    <div class="col-sm-6">
      <h3>Assignment History</h3>
      <table class="table table-hover">
          <tr>
            <th><b>Rank</b></th>
            <th><b>Badge No.</b></th>
            <th><b>Unit</b></th>
            <th><b>Assignment Date</b></th>
            {% if current_user.is_administrator
              or (current_user.is_area_coordinator and current_user.ac_department_id == officer.department_id) %}
            <th><b>Edit</b></th>
            {% endif %}
          </tr>
        <tbody>
          {% for assignment in assignments %}
          <tr>
            <td>{{ assignment.rank }}</td>
            <td>{{ assignment.star_no }}</td>
            <td>{% if assignment.unit: %}
                {{ assignment.unit }}
                {% else %}
                Unknown
                {% endif %}
            </td>
            <td>{% if assignment.star_date: %}
                {{ assignment.star_date }}
                {% else %}
                Unknown
                {% endif %}
            </td>
            <td>
              {% if current_user.is_administrator
                  or (current_user.is_area_coordinator and current_user.ac_department_id == officer.department_id) %}
              <a href="{{ url_for('main.edit_assignment', officer_id=officer.id,
                          assignment_id=assignment.id) }}">
                <span class='sr-only'>Edit</span>
                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
              </a>
              {% endif %}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

      {% if current_user.is_administrator
          or (current_user.is_area_coordinator and current_user.ac_department_id == officer.department_id) %}
      <h3>Add Assignment<small> Admin only</small></h3>
      <table class="table">
        <tbody>
          <form action="{{ url_for('main.add_assignment', officer_id=officer.id) }}" method="post">
          {{ form.hidden_tag() }}

          <tr>
            <td><b>New badge number:</b></td>
            <td>{{ form.star_no }}
                  {% for error in form.star_no.errors %}
                      <p><span style="color: red;">[{{ error }}]</span></p>
                  {% endfor %}
            </td>
          </tr>

          <tr>
            <td><b>New rank:</b></td>
            <td>{{ form.rank }}
                  {% for error in form.rank.errors %}
                      <p><span style="color: red;">[{{ error }}]</span></p>
                  {% endfor %}
            </td>
          </tr>

          <tr>
            <td><b>New unit:</b></td>
            <td>{{ form.unit }}
                  {% for error in form.unit.errors %}
                      <p><span style="color: red;">[{{ error }}]</span></p>
                  {% endfor %}
            </td>
          </tr>

          <tr>
            <td><b>Start date of new assignment:</b></td>
            <td>{{ form.star_date }}
                  {% for error in form.star_date.errors %}
                      <p><span style="color: red;">[{{ error }}]</span></p>
                  {% endfor %}
            </td>
          </tr>

          <tr>
            <td>
              <input type="submit" value="Add Assignment" name="add-assignment" class="btn-sm btn-primary"/>
            </td>
          </tr>

          </form>
        </tbody>
      </table>
      {% endif %}
    </div> {# end col #}
    {% if officer.incidents or current_user.is_administrator or
	  (current_user.is_area_coordinator and current_user.ac_department_id == officer.department_id) %}
    	<div class='col-sm-12 col-md-6'>
      	<h3>Incidents</h3>
      	<ul class="list-group">
        	{% for incident in officer.incidents %}
          	<li class="list-group-item">
            	<h4>
                	<a href="{{ url_for('main.incident_api', obj_id=incident.id)}}">
                	Incident {{ incident.report_number }}
              	</a>
              	{% if current_user.is_administrator
                	or (current_user.is_area_coordinator and current_user.ac_department_id == incident.department_id) %}
               	<a href="{{ url_for('main.incident_api', obj_id=incident.id) + '/edit' }}">
                	<i class="fa fa-pencil-square-o" aria-hidden="true"></i>
              	</a>
              	{% endif %}
            	</h4>
            	{% include 'partials/incident_fields.html' %}
          	</li>
        	{% endfor %}
      	</ul>
      	{% if current_user.is_administrator
          	or (current_user.is_area_coordinator and current_user.ac_department_id == officer.department_id) %}
        	<a href="{{ url_for('main.incident_api') + 'new?officer_id={}'.format(officer.id) }}" class='btn btn-primary'>New Incident</a>
      	{% endif %}
    	</div>{# end col #}
    {% endif %}
    <div class='col-sm-12 col-md-6'>
       {% if officer.descriptions %}
       <h3>Descriptions</h3>
       {% endif %}
       <ul class="list-group">
          {% for description in officer.descriptions %}
          <li class="list-group-item">
                <em>{{ description.date_updated.strftime('%b %d, %Y')}}</em> <br/>
                {{ description.text_contents }} <br/>
                <em>{{ description.creator.username }} </em>
             {% if description.creator_id == current_user.id or current_user.is_administrator %}
                <a href="{{ url_for('main.description_api', officer_id=officer.id,
                         obj_id=description.id) + '/edit' }}">
                <span class='sr-only'>Edit</span>
                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                </a>
                <a href="{{ url_for('main.description_api', officer_id=officer.id,
                         obj_id=description.id) + '/delete' }}">
                <span class='sr-only'>Delete</span>
                <i class="fa fa-trash-o" aria-hidden="true"></i>
                </a>
             </a>
             {% endif %}
          </li>
          {% endfor %}
       </ul>
       {% if current_user.is_administrator
                   or (current_user.is_area_coordinator and current_user.ac_department_id == officer.department_id) %}
       {% if not officer.descriptions %}
       <h3>Descriptions</h3>
       {% endif %}
       <a href="{{ url_for('main.description_api', officer_id=officer.id) }}" class='btn btn-primary'>New description</a>
       </div>
       {% endif %}
    </div>{# end col #}
    {% if current_user.is_administrator
                or (current_user.is_area_coordinator and current_user.ac_department_id == officer.department_id) %}
      <div class='col-sm-12 col-md-6'>
        <h3>Notes</h3>
        <ul class="list-group">
          {% for note in officer.notes %}
            <li class="list-group-item">
                <em>{{ note.date_updated.strftime('%b %d, %Y')}}</em> <br/>
                {{ note.text_contents }} <br/>
                <em>{{ note.creator.username }} </em>
              {% if note.creator_id == current_user.id or current_user.is_administrator %}
                <a href="{{ url_for('main.note_api', officer_id=officer.id,
                          obj_id=note.id) + '/edit' }}">
                  <span class='sr-only'>Edit</span>
                  <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                </a>
                <a href="{{ url_for('main.note_api', officer_id=officer.id,
                          obj_id=note.id) + '/delete' }}">
                  <span class='sr-only'>Delete</span>
                  <i class="fa fa-trash-o" aria-hidden="true"></i>
                </a>
              </a>
              {% endif %}
            </li>
          {% endfor %}
        </ul>
        <a href="{{ url_for('main.note_api', officer_id=officer.id) }}" class='btn btn-primary'>New Note</a>
      </div>
    {% endif %}
    </div>{# end col #}
    {% with obj=officer %}
      {% include "partials/links_and_videos_row.html" %}
    {% endwith %}
  </div> {# end row #}
</div> {# end container #}
{% endblock %}
