{% extends "base.html" %}
{% block content %}

<div role="main">
    <div class="hero-section no-sub">
        <div class="hero">Privacy Policy</div>
        <div class="subhero">Coming soon</div>
    </div>
    <div class="vertical-padding ">
        <p class="lead">
            <small>BPD Watch takes your privacy and security very seriously. We are currently in the process of creating
                our privacy policy and will post it where when it is finished.
            </small>
        </p>
    </div>

</div>
{% endblock %}
