{% extends "base.html" %}
{% block title %}Privacy Policy - OpenOversight{% endblock %}
{% block meta %}<meta name="description" content="Lucy Parsons Labs takes your privacy and security very seriously.">{% endblock %}
{% block content %}

<div role="main">
    <div class="hero-section no-sub">
        <div class="hero">Privacy Policy</div>
        <div class="subhero">September 1, 2016</div>
    </div>
    <div class="vertical-padding ">
        <p class="lead">
            <small>Lucy Parsons Labs takes your privacy and security very seriously. OpenOversight is hosted on its own
                subdomain and web server, independent from the main Lucy Parsons Labs website. This Privacy Policy only
                applies to OpenOversight.
            </small>
        </p>
    </div>
    <div class="row display-flex vertical-padding">
        <div class="col-lg-6 col-half-border bg-light-gray horizontal-padding">
            <h3>Logs and Security</h3>
            <p class="font-weight-300">
                The Lucy Parsons Labs uses HTTPS on all of its web servers and on all of our subdomains. However, since
                OpenOversight is hosted on its own subdomain and web server, it will be possible for employers, ISPs, or
                anyone performing network-level traffic analysis to identify that you have visited OpenOversight. The
                Lucy Parsons Labs <b>does not</b> maintain network logs on our web servers. We have explicitly disabled
                nginx from maintaining access or error logs, an example configuration can be found <a
                        href="https://github.com/lucyparsons/OpenOversight/blob/master/DEPLOY.md"
                        target="_blank">here</a>. We also do not block incoming connections from any regions or IP
                block, so we welcome traffic from any anonymity network such as Tor.
            </p>
        </div>
        <div class="col-lg-6 col-half-border bg-light-blue horizontal-padding">
            <h3>What Is Collected</h3>
            <p class="font-weight-300">
                OpenOversight has a form for volunteers to submit data to us using Google Docs. This data is <b>not</b>
                hosted by Lucy Parsons Labs and is outside of this Privacy Policy. The Submission Form does not require
                you to provide a name and we will not reject any submissions without names. Please note that Google and
                other third parties might collect your IPs and other identifying information. Google's Privacy Policy
                can be found <a href="https://www.google.com/intl/en_us/policies/" target="_blank">here</a> and Google
                Drive's Terms of Service may be found <a href="https://support.google.com/drive/answer/2450387?hl=en"
                                                         target="_blank">here</a>.</p>
        </div>
    </div>

    <div class="row display-flex vertical-padding pb-50">
        <div class="col-half-border bg-white horizontal-padding">
            <h3>Legal Action</h3>
            <p class="font-weight-300">
                <b>A note to Illinois law enforcement</b>: This project does not perform facial recognition and is thus
                in compliance with the Biometric Information Privacy Act. Requests or questions regarding this project
                from those affiliated with law enforcement must be directed to our <a
                        href="mailto:legal@lucyparsonslabs.com">legal representation</a>. You may also review our <a
                        href="https://lucyparsonslabs.com/about/canary/" target="_blank">Warrant Canary</a>.
            </p>
        </div>
    </div>
    <div class="hr-banner horizontal-padding">
        <h4>Future Changes</h4>
        <p class="font-weight-300">
            <small>In the case that the Lucy Parsons Labs has to update this Privacy Policy, we will update the date at
                the top
                of this webpage.
            </small>
        </p>
    </div>
</div>
{% endblock %}
