{% extends "base.html" %}

{% block head %}
  <link href="{{ url_for('static', filename='css/dropzone.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/dropzone-override.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="container theme-showcase" role="main">

   <div class="page-header">
        <h1>Submit images <small>of officers in uniform. Police officer faces, and either a badge number or name, should be clearly visible in each photograph.</small></h1>
   </div>

<div class="header">
    <h3>What happens when I submit a photograph?</h3>
    <p class="small">The next step after a photograph of an officer has been submitted is to match it to the correct badge number, name, and OpenOversight ID (a unique identifier in our system). Volunteers <a href="https://openoversight.com/label">sort through submitted images</a> by first confirming that officers are present in each photograph, and then by matching each photograph to the officer it depicts.</p>
</div>

  <h3>Drop images here to submit photos of officers in {{ department.name }}:</h3>

  <form action="/upload/department/{{ department.id }}" class="dropzone" id="my-cop-dropzone">
  </form>
    <p class="small">Drag photographs from your computer directly into the box above or click the box to launch a finder window. If you are on mobile, you can click the box above to select pictures from your photo library or camera roll.</p>
  <script>
  $(document).ready(function(){
    Dropzone.options.myCopDropzone = {
      url: "/upload/department/{{ department.id }}",
      method: "POST",
      uploadMultiple: false,
      parallelUploads: 50,
      acceptedFiles: "image/png, image/jpeg, image/gif, image/jpg",
      maxFiles: 50,
      init: function() {
        this.on("error", function(file, responseText) {
          file.previewTemplate.appendChild(document.createTextNode(responseText));
        });
      }
    }

  });
  </script>

</div>

<div class="container">
   <h3>High Security Submissions</h3>
   <p class="small">We do not log unique identifying information of visitors to our website, but if you have privacy concerns in submitting photographs, we recommend using <a href="https://www.torproject.org/projects/torbrowser.html.en">Tor Browser.</a> For very high security submissions of photos or videos, you can use an anonymous dropbox called SecureDrop (launch instructions below). All files that we receive through SecureDrop are <a href="https://mat.boum.org/">scrubbed of metadata.</a></p>
   <a href="https://lucyparsonslabs.com/securedrop"><img src="{{url_for('static', filename='images/securedrop.png')}}"/> Launch SecureDrop Instructions</a>
</div>

<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/dropzone.js') }}"></script>

{% endblock %}
