{% extends "base.html" %}
{% block content %}

<link href="{{ url_for('static', filename='css/dropzone.css') }}" rel="stylesheet">

<div class="container theme-showcase" role="main">
   <div class="page-header">
        <h1>Submit Images <small>containing faces/badge numbers of uniformed police officers</small></h1>
   </div>

  <h3>Drop images here to submit</h3>

  <form action="/upload" class="dropzone" id="my-cop-dropzone">
  </form>

  <script>
  $(document).ready(function(){
    Dropzone.options.myCopDropzone = {
      url: "/upload",
      method: "POST",
      uploadMultiple: false,
      parallelUploads: 50,
      acceptedFiles: "image/png, image/jpeg, image/gif, image/jpg",
      maxFiles: 50,
      init: function() {
        this.on("error", function(file, responseText) {
          file.previewTemplate.appendChild(document.createTextNode(responseText));
        });
      }
    }

  });
  </script>
</div>

<div class="container">
   <h3>High Security Submissions</h3>
   <p class="small">For very high security upload of photos or videos, you can use the Lucy Parsons Labs SecureDrop instance:</p>
   <a href="https://lucyparsonslabs.com/securedrop"><img src="{{url_for('static', filename='images/securedrop.png')}}"/> Launch SecureDrop Instructions</a>
</div>

<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/dropzone.js') }}"></script>


{% endblock %}
