{% extends "base.html" %}
{% block content %}

<link href="{{ url_for('static', filename='css/dropzone.css') }}" rel="stylesheet">

<div class="container theme-showcase" role="main">

<div class="text-center frontpage-leads page-header">
  <h1><small>Submit images of officers in action in: </small></h1>
  {% for department in departments %}
  <p>
  <a href="/submit/department/{{ department.id }}" class="btn btn-lg btn-primary">
      <span class="glyphicon glyphicon-upload" aria-hidden="true"></span>
      {{ department.name }}</a>
  </p>
  {% endfor %}
</div>

</div>

{% endblock %}
