{% extends "base.html" %}
{% block title %}Search results - OpenOversight{% endblock %}
{% block meta %}<meta name="description" content="View a gallery of matched officers according to your search results.">{% endblock %}
{% block content %}

<div class="container theme-showcase" role="main">

  <h1 class="page-header">Matching Officers</h1>

  {% include 'partials/roster_paginate.html' %}

  <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          {% for officer in officers.items %}
           {% if loop.index == 1 %}
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
           {% else %}
          <li data-target="#myCarousel" data-slide-to="{{ loop.index }}"></li>
           {% endif %}
          {% endfor %}
        </ol>
        <div class="carousel-inner" role="listbox">
        {% for officer in officers.items %}

        {% if officer.face | count == 0 %}
          {% set officer_image = '/static/images/placeholder.png' %}
        {% else %}
          {% set officer_image = officer.face[0].image.filepath %}
        {% endif %}

        {% if loop.index == 1 %}
          <div class="item active">
        {% else %}
          <div class="item">
        {% endif %}
          <div class="container">
            <div class="carousel-caption">
              <h1><a href="{{ url_for('main.officer_profile', officer_id=officer.id) }}">
                    {{ officer.full_name() }}</a></h1>
                  <h4 class="text-success"><b>OpenOversight ID: {{ officer.id }}</b></h4>
                  <h5 class="text-muted">Race: {{ officer.race }}</h5>
                  <h5 class="text-muted">Gender: {{ officer.gender }}</h5>
                  <h5 class="text-muted">Current badge number: #{{ officer.badge_number()|default('') }}</h5>


              <div align="center">
                <img src="{{ officer_image }}" class="img-responsive thumbnail">
              </div>

              </div>
            </div>
          </div>
          {% endfor %}
        </div>
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
  </div>
  {% if officers.items|length == 0 %}
    <h4>Sorry, no officers found in the roster. <a href="{{ url_for('main.get_ooid') }}">Try again</a></h4>
  {% endif %}

</div>

{% endblock %}
