name: Publish Docker image

on:
  release:
    types: [published]
  push:
    branches:
      - ci-*

env:
  image_name: orcacollective/openoversight

jobs:
  push_to_registry:
    name: Push Docker image to GitHub Packages
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read
    steps:
      - name: Check out the repo
        uses: actions/checkout@v2
      - name: Log in to GitHub Docker Registry
        uses: docker/login-action@v1
        with:
          registry: https://ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build and push image
        uses: docker/build-push-action@v2
        with:
          push: true
          # Force the use of the production requirements only
          build-args: REQUIREMENTS_FILE=requirements.txt
          tags: |
            ghcr.io/${{ env.image_name }}:${{ github.sha }}
            ghcr.io/${{ env.image_name }}:${{ github.ref_name }}
            ghcr.io/${{ env.image_name }}:latest
